# **âœï¸ ë°ì´ì¬ì˜ ëª¨ë“  ì‹œë¦¬ì¦ˆ ë°”ë¡œê°€ê¸°!**



[[ë°ì´ì¬â˜€ï¸_0í¸] Pythonìœ¼ë¡œ ì‹œì‘í•˜ëŠ” ë°ì´í„° ë¶„ì„ ì‚¬ìš© ì„¤ëª…ì„œ](https://dacon.io/codeshare/4743)
<br><br>

[[ë°ì´ì¬â˜€ï¸_1í¸] âœï¸ ë°ì´í„° ë¶„ì„ ì‚¬ìš© ì„¤ëª…ì„œ](https://dacon.io/codeshare/4856)
<br><br>

[[ë°ì´ì¬â˜€ï¸_2í¸] ğŸ“– ê¸°ì´ˆ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ (1) - Numpy](https://dacon.io/codeshare/4860)

[[ë°ì´ì¬â˜€ï¸_2í¸] ğŸ“– ê¸°ì´ˆ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ (2) - Pandas](https://dacon.io/codeshare/4861)

[[ë°ì´ì¬â˜€ï¸_2í¸] ğŸ“– ê¸°ì´ˆ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ (3) - Scikit-learn](https://dacon.io/codeshare/4877)
<br><br>

[[ë°ì´ì¬â˜€ï¸_3í¸] ğŸ” EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„) ì‚¬ìš© ì„¤ëª…ì„œ (1) - EDA & í†µê³„ì¹˜ ë¶„ì„](https://dacon.io/codeshare/4899)

[[ë°ì´ì¬â˜€ï¸_3í¸] ğŸ” EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„) ì‚¬ìš© ì„¤ëª…ì„œ (2) - Matplotlib](https://dacon.io/codeshare/4906)

[[ë°ì´ì¬â˜€ï¸_3í¸] ğŸ” EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„) ì‚¬ìš© ì„¤ëª…ì„œ (3) - Seaborn](https://dacon.io/codeshare/4905)

[[ë°ì´ì¬â˜€ï¸_3í¸] ğŸ” EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„) ì‚¬ìš© ì„¤ëª…ì„œ (4) - Plotly](https://dacon.io/codeshare/4942)

[[ë°ì´ì¬â˜€ï¸_3í¸] ğŸ” EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„) ì‚¬ìš© ì„¤ëª…ì„œ (5) - Cufflinks](https://dacon.io/codeshare/4945)
<br><br>

[[ë°ì´ì¬â˜€ï¸_4í¸] ğŸ›  ì „ì²˜ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ](https://dacon.io/codeshare/4992)

<br><br>

# **ğŸ”§ ëª¨ë¸ë§ ì‚¬ìš© ì„¤ëª…ì„œ 1íƒ„**

1. **ì‚¬ì´í‚·ëŸ° LinearRegression**

  1) LinearRegression í´ë˜ìŠ¤

  2) íšŒê·€ í‰ê°€ ì§€í‘œ

  3) í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ì‹¤ìŠµ

<br>

2. **ê·œì œ ì„ í˜• ëª¨ë¸**
 
  1) ë¦¿ì§€ íšŒê·€ (Ridge)
 
  2) ë¼ì˜ íšŒê·€ (Lasso)
  
  3) ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€ (Elastic Net)

<br>

---

<br>

## **1. ì‚¬ì´í‚·ëŸ° LinearRegression**

### **1) LinearRegression**

**LinearRegression**ì€ ì‚¬ì´í‚·ëŸ°ì˜ linear_models ëª¨ë“ˆì´ ì œê³µí•˜ëŠ” ë‹¤ì–‘í•œ ì¢…ë¥˜ì˜ ì„ í˜• ê¸°ë°˜ íšŒê·€ í´ë˜ìŠ¤ ì¤‘ ê·œì œê°€ ì ìš©ë˜ì§€ ì•Šì€ ì„ í˜• íšŒê·€ë¥¼ êµ¬í˜„í•œ í´ë˜ìŠ¤ì…ë‹ˆë‹¤.

ì˜ˆì¸¡ê°’ê³¼ ì‹¤ì œê°’ì˜ RSS(Residual Sum of Squares)ë¥¼ ìµœì†Œí™”í•˜ì—¬ OLS(Ordinary Least Squares) ë°©ì‹ìœ¼ë¡œ ì¶”ì •í•©ë‹ˆë‹¤.
<br><br>


> **ğŸ“Œ OLSë€?**<br> ì„ í˜•íšŒê·€ëª¨ë¸ì˜ ì¶”ì • ë°©ë²• ì¤‘ í•˜ë‚˜ë¡œ ì„ í˜• ëª¨ë¸ì˜ íŒŒë¼ë¯¸í„°ë¥¼ ì¶”ì •í•˜ëŠ” ê°€ì¥ ê¸°ì´ˆì ì´ë©´ì„œ í‰ë²”í•œ(ordinary) ë°©ë²•ì´ë‹¤. ìµœì†Œì œê³±ë²•ì´ë¼ê³ ë„ í•œë‹¤.

<br>


**[ ì…ë ¥ íŒŒë¼ë¯¸í„° ]**

- **fit_intercept**

  : intercept(ì ˆí¸) ê°’ì„ ê³„ì‚°í•  ê²ƒì¸ì§€ ê³„ì‚°í•˜ì§€ ì•Šì„ ê²ƒì¸ì§€ë¥¼ ì¦‰, ìƒìˆ˜í•­ì´ ìˆëŠ”ì§€ ì—†ëŠ”ì§€ë¥¼ ì§€ì •í•©ë‹ˆë‹¤. ë””í´íŠ¸ëŠ” Trueì´ê³ , Falseë¡œ ì§€ì •í•  ê²½ìš° interceptê°€ ì‚¬ìš©ë˜ì§€ ì•Šê³  0ìœ¼ë¡œ ì§€ì •ë©ë‹ˆë‹¤.

- **normalize**

  : Trueë¡œ ì§€ì •í•˜ë©´ íšŒê·€ë¥¼ ìˆ˜í–‰í•˜ê¸° ì „ì— ì…ë ¥ ë°ì´í„° ì„¸íŠ¸ë¥¼ ì •ê·œí™”í•©ë‹ˆë‹¤. ë””í´íŠ¸ëŠ” Falseì´ê³ , fit_interceptê°€ Falseì¸ ê²½ìš°ì—ëŠ” ì´ íŒŒë¼ë¯¸í„°ê°€ ë¬´ì‹œë©ë‹ˆë‹¤. 
<br>

>**ğŸ“Œ ì •ê·œí™”ë€?**<br>ì„œë¡œ ë‹¤ë¥¸ í”¼ì²˜ì˜ í¬ê¸°ë¥¼ í†µì¼í•˜ê¸° ìœ„í•´ í¬ê¸°ë¥¼ ë³€í™”í•´ì£¼ëŠ” ê²ƒìœ¼ë¡œ, ë³€ìˆ˜ë¥¼ ëª¨ë‘ ë™ì¼í•œ í¬ê¸° ë‹¨ìœ„ë¡œ ë¹„êµí•˜ê¸° ìœ„í•´ ê°’ì„ ëª¨ë‘ ìµœì†Œ 0 ~ ìµœëŒ€ 1ì˜ ê°’ìœ¼ë¡œ ë³€í™˜í•©ë‹ˆë‹¤. ì¦‰, ê°œë³„ ë°ì´í„°ì˜ í¬ê¸°ë¥¼ ëª¨ë‘ ë˜‘ê°™ì€ ë‹¨ìœ„ë¡œ ë³€ê²½í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

<br><br>
**[ ì†ì„± ]**

- **coef_(Target ê°’ ê°œìˆ˜, í”¼ì²˜ ê°œìˆ˜)**
  
  : fit() ë©”ì„œë“œë¥¼ ìˆ˜í–‰í–ˆì„ ë•Œ íšŒê·€ ê³„ìˆ˜ê°€ ë°°ì—´ í˜•íƒœë¡œ ì €ì¥í•˜ëŠ” ì†ì„±ì…ë‹ˆë‹¤.

- **intercept_**

  : intercept(ì ˆí¸) ê°’ì´ ì €ì¥ë˜ì–´ ìˆëŠ” ì†ì„±ì…ë‹ˆë‹¤.
<br><br>

OLS ê¸°ë°˜ì˜ íšŒê·€ ê³„ìˆ˜ ê³„ì‚°ì€ ì…ë ¥ í”¼ì²˜ì˜ ë…ë¦½ì„±ì— ë§ì€ ì˜í–¥ì„ ë°›ê¸° ë•Œë¬¸ì—, í”¼ì²˜ê°„ì˜ ìƒê´€ê´€ê³„ê°€ ë§¤ìš° ë†’ì€ ê²½ìš° ë¶„ì‚°ì´ ë§¤ìš° ì»¤ì ¸ì„œ ì˜¤ë¥˜ì— ë§¤ìš° ë¯¼ê°í•´ì§‘ë‹ˆë‹¤.

ì´ëŸ¬í•œ í˜„ìƒì„ **ë‹¤ì¤‘ ê³µì„ ì„±(multi-collinearity)** ë¬¸ì œë¼ê³  í•©ë‹ˆë‹¤.

<br>

### **2) íšŒê·€ í‰ê°€ ì§€í‘œ**

íšŒê·€ í‰ê°€ ì§€í‘œëŠ” ì‹¤ì œê°’ê³¼ íšŒê·€ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í•˜ëŠ”ë°, ì‹¤ì œê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ê·¸ëƒ¥ ë”í•˜ë©´ +ì™€ -ê°€ ì„ì—¬ ì˜¤ë¥˜ê°€ ìƒì‡„ë©ë‹ˆë‹¤. ì¦‰, ì°¨ì´ì˜ ê°’ì´ í•˜ë‚˜ëŠ” -3ì´ê³  ë‹¤ë¥¸ í•˜ë‚˜ëŠ” +3ì¸ ê²½ìš° ë‹¨ìˆœíˆ ë”í•˜ê²Œ ë˜ë©´ ì˜¤ë¥˜ê°€ 0ì´ ë˜ê¸° ë•Œë¬¸ì— ì •í™•í•œ ì§€í‘œê°€ ë  ìˆ˜ ì—†ìŠµë‹ˆë‹¤. 

ë”°ë¼ì„œ ì˜¤ë¥˜ì˜ **ì ˆëŒ“ê°’ í‰ê· **ì´ë‚˜ **ì œê³±**, ë˜ëŠ” **ì œê³±í•œ ë’¤ ë‹¤ì‹œ ë£¨íŠ¸ë¥¼ ì”Œìš´ í‰ê· ê°’**ì„ íšŒê·€ í‰ê°€ ì§€í‘œë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤. <br><br>


#### **[ íšŒê·€ í‰ê°€ ]**
<br>

![image.png]()

Scoring í•¨ìˆ˜ì˜ 'neg_'ë¼ëŠ” ì ‘ë‘ì–´ëŠ” ì›ë˜ì˜ í‰ê°€ ì§€í‘œ ê°’ì— -1ì„ ê³±í•´ ìŒìˆ˜ë¡œ ë§Œë“¤ê¸° ë•Œë¬¸ì— ì£¼ì˜ê°€ í•„ìš”í•©ë‹ˆë‹¤.

ì‚¬ì´í‚·ëŸ°ì˜ Scoring í•¨ìˆ˜ëŠ” scoreê°’ì´ í´ìˆ˜ë¡ ì¢‹ì€ ê²°ê³¼ë¡œ í‰ê°€í•˜ì§€ë§Œ, ì‹¤ì œê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í•˜ëŠ” íšŒê·€ í‰ê°€ ì§€í‘œëŠ” ê°’ì´ ì‘ì„ìˆ˜ë¡ ì¢‹ì€ ëª¨ë¸ì´ë¯€ë¡œ -1ì„ ê³±í•œ ê°’ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

<br>

### **3) í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡í•˜ê¸° ì‹¤ìŠµ**

'í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒ'ëŠ” ì£¼ì–´ì§„ í­ê·„ì˜ ì¢…, ë¶€ë¦¬ ê¸¸ì´, ì„±ë³„ ë“±ì˜ ì •ë³´ë“¤ì„ ì´ìš©í•´ ëª¸ë¬´ê²Œë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëŒ€íšŒì…ë‹ˆë‹¤. 

ì•„ë˜ ì‹¤ìŠµì— ì‚¬ìš©ë˜ëŠ” ë°ì´í„°ëŠ” 'í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒ'ì˜ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ê³  ìˆìœ¼ë©°, ë°ì´ì½˜ì—ì„œ ì œê³µí•œ Baselineì„ ì°¸ê³ í•˜ì—¬ ì½”ë“œë¥¼ ì‘ì„±í–ˆìŠµë‹ˆë‹¤. 

<br>

ğŸ§ [í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒ](https://dacon.io/competitions/official/235862/overview/description)

<br>

#### **[ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ]**

ì‚¬ìš©í•  ë¼ì´ë¸ŒëŸ¬ë¦¬ë“¤ì„ importí•˜ê³ , í•™ìŠµì‹œí‚¬ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ì„œ train ë³€ìˆ˜ì— ì €ì¥í•˜ê² ìŠµë‹ˆë‹¤.

In [ ]:
# ì½”ë© ì‚¬ìš©ì‹œ
from google.colab import drive  # êµ¬ê¸€ ë“œë¼ì´ë¸Œì— íŒŒì¼ ìƒì„±
drive.mount('/content/drive') # ë°ì´í„°ê°€ ì €ì¥ëœ ê²½ë¡œë¥¼ ì…ë ¥í•˜ì„¸ìš”.

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ë°ì´ì¬/train.csv')

<br>

#### **[ ë°ì´í„° ì‚´í´ë³´ê¸° ]**

head()ì™€ dtypesë¥¼ ì´ìš©í•´ ë°ì´í„°ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
train.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700

In [ ]:
train.dtypes

id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

 <br><br>
 **ğŸ“ í­ê·„ ë°ì´í„°ì˜ ì»¬ëŸ¼ ì •ë³´**

<br>

- **id** : ì¼ë ¨ë²ˆí˜¸ / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Species** : í­ê·„ì˜ ì¢… / ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„° 

- **Island** : ì‹œë£Œë¥¼ ì±„ì·¨í•œ ì„¬ / ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°

- **Clutch Completion** : ì—°êµ¬ ë‘¥ì§€ê°€ <u>ì™„ì „í•œ í´ëŸ¬ì¹˜(2ê°œì˜ ì•Œ)</u>ë¡œ ê´€ì°°ë˜ì—ˆëŠ”ì§€ ì—¬ë¶€ / ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°

- **Culmen Length (mm)** : ë¶€ë¦¬ì˜ ë“±ìª½ ëŠ¥ì„ ì˜ ê¸¸ì´ (mm) / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Culmen Depth (mm)** : ë¶€ë¦¬ì˜ ë“±ìª½ ëŠ¥ì„ ì˜ ê¹Šì´ (mm) / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Flipper Length (mm)** : í­ê·„ ì§€ëŠëŸ¬ë¯¸ì˜ ê¸¸ì´ (mm) / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Sex** : í­ê·„ì˜ ì„±ë³„ / ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°

- **Delta 15 N (o/oo)** : ì•ˆì • ë™ìœ„ì›ì†Œ 15N:14Nì˜ ë¹„ìœ¨ / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Delta 13 C (o/oo)** : ì•ˆì • ë™ìœ„ì›ì†Œ 13C:12Cì˜ ë¹„ìœ¨ / ìˆ˜ì¹˜í˜• ë°ì´í„°

- **Body Mass (g)** : í­ê·„ì˜ ì²´ì§ˆëŸ‰ (g) / ìˆ˜ì¹˜í˜• ë°ì´í„°

<br><br>
 ì¶œì²˜) https://allisonhorst.github.io/palmerpenguins/reference/penguins_raw.html

<br>

#### **[ ê²°ì¸¡ì¹˜ í™•ì¸ ]**

info()ë¥¼ ì´ìš©í•´ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ”ì§€ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   114 non-null    int64
 1   Species              114 non-null    object
 2   Island               114 non-null    object
 3   Clutch Completion    114 non-null    object
 4   Culmen Length (mm)   114 non-null    float64
 5   Culmen Depth (mm)    114 non-null    float64
 6   Flipper Length (mm)  114 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        114 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

Sex, Delta 15 N (o/oo), Delta 13 C (o/oo) ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•©ë‹ˆë‹¤.

<br>

#### **[ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ]**

In [ ]:
train[train.isna().sum(axis=1) > 0]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
6,6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190,NaN,9.13362,-25.09368,4250
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
18,18,Adelie Penguin (Pygoscelis adeliae),Dream,No,39.8,19.1,184,MALE,NaN,NaN,4650
70,70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214,NaN,8.24253,-26.81540,4650
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700

ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ” í–‰ì„ ì¶œë ¥í–ˆì„ ë•Œ, Sex, Delta 15 N (o/oo), Delta 13 C (o/oo)	ì»¬ëŸ¼ì—ì„œ NaN ê°’ì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

<br>

ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°ì— ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš°ëŠ” í–‰ì„ ì‚­ì œí•˜ê³ , 

ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš°ëŠ” 0ê°’ì„ ì±„ì›Œì£¼ê² ìŠµë‹ˆë‹¤.

In [ ]:
# ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„°ì—ì„œ ê²°ì¸¡ì¹˜ì— í•´ë‹¹í•˜ëŠ” í–‰ ì‚­ì œ
train_preprocessed = train.dropna(subset=['Sex'])

In [ ]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ì—ì„œ ê²°ì¸¡ì¹˜ì— 0ê°’ ë„£ê¸°
train_preprocessed = train_preprocessed.fillna(0)

In [ ]:
# í™•ì¸
train_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   111 non-null    int64
 1   Species              111 non-null    object
 2   Island               111 non-null    object
 3   Clutch Completion    111 non-null    object
 4   Culmen Length (mm)   111 non-null    float64
 5   Culmen Depth (mm)    111 non-null    float64
 6   Flipper Length (mm)  111 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        111 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 10.4+ KB

ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.

<br>

#### **[ ë ˆì´ë¸” ì¸ì½”ë”© ]**

ì•„ì§ ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì´ ë¬¸ìì—´ì˜ í˜•íƒœë¡œ ì¡´ì¬í•˜ê³  ìˆê¸° ë•Œë¬¸ì— ëª¨ë¸ í•™ìŠµì´ ê°€ëŠ¥í•˜ë„ë¡ ë¬¸ìì—´ í˜•íƒœì˜ ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì„ ìˆ«ì í˜•íƒœë¡œ ì¸ì½”ë”©í•´ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
# ë ˆì´ë¸” ì¸ì½”ë”©ì„ í•˜ê¸° ìœ„í•œ dictionary map ìƒì„± í•¨ìˆ˜
def make_label_map(dataframe):
    label_maps = {}
    for col in dataframe.columns:
        if dataframe[col].dtype=='object': 
            label_map = {'unknown':0} 
            for i, key in enumerate(train[col].unique()):
                label_map[key] = i+1
            label_maps[col] = label_map
    return label_maps

# ê° ë²”ì£¼í˜• ë³€ìˆ˜ì— ì¸ì½”ë”© ê°’ì„ ë¶€ì—¬í•˜ëŠ” í•¨ìˆ˜
def label_encoder(dataframe, label_map):
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            dataframe[col] = dataframe[col].map(label_map[col])
            dataframe[col] = dataframe[col].fillna(label_map[col]['unknown']) #í˜¹ì‹œ ëª¨ë¥¼ ê²°ì¸¡ê°’ì€ unknownì˜ ê°’ìœ¼ë¡œ ì±„ì›Œì¤ë‹ˆë‹¤.
    return dataframe

# ì „ì²˜ë¦¬ ì™„ë£Œí•œ train ë°ì´í„° : train_preprocessed
label_map = make_label_map(train_preprocessed) # train_preprocessed ì‚¬ìš©í•´ label map ìƒì„±
labeled_train = label_encoder(train_preprocessed, label_map) # train_preprocessed ë¼ë²¨ ì¸ì½”ë”©

- **enumerate(train[col].unique())**

  enumerate()ëŠ” ì¸ë±ìŠ¤ì™€ ì›ì†Œë¡œ ì´ë£¨ì–´ì§„ íŠœí”Œì„ ìƒì„±í•˜ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤. <br>uniqueëŠ” ê³ ìœ ê°’ì„ ì°¾ì•„ì£¼ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤.

- **dataframe[col].map(label_map[col])**

  map ë©”ì„œë“œë¥¼ ì´ìš©í•˜ë©´ ê¸°ì¡´ê°’(key)ì„ ëŒ€ì²´ê°’(value)ìœ¼ë¡œ ë³€ê²½í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

<br>

#### **[ ëª¨ë¸ë§ ]**

ëª¨ë¸ë§ì„ í•˜ê¸°ì— ì•ì„œ, íšŒê·€ í‰ê°€ ì§€í‘œë¡œ ì‚¬ìš©í•  RMSEë¥¼ ì¶œë ¥í•´ì£¼ëŠ” í•¨ìˆ˜ë¡œ ë§Œë“¤ì–´ì£¼ê² ìŠµë‹ˆë‹¤.

ì‚¬ì´í‚·ëŸ°ì€ RMSEë¥¼ ì œê³µí•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— RMSEë¥¼ êµ¬í•˜ê¸° ìœ„í•´ì„œëŠ” MSEì— ì œê³±ê·¼ì„ ì”Œì›Œì„œ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì§ì ‘ ë§Œë“¤ì–´ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
import numpy as np

def RMSE(true, pred):
    score = np.sqrt(np.mean(np.square(true-pred)))
    return score

<br>

K-Fold êµì°¨ê²€ì¦ ë°©ì‹ìœ¼ë¡œ ëª¨ë¸ë§ì„ í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

K-Fold êµì°¨ê²€ì¦ì€ êµì°¨ ê²€ì¦ ë°©ë²• ì¤‘ ê°€ì¥ ì¼ë°˜ì ìœ¼ë¡œ ì‚¬ìš©ë˜ëŠ” ë°©ë²•ìœ¼ë¡œ íšŒê·€ ëª¨ë¸ì— ë§ì´ ì‚¬ìš©ë©ë‹ˆë‹¤.
<br><br>
**â— K-Fold Cross Validation â—**
<br><br>

ã…¤â‘  ì „ì²´ ë°ì´í„°ì…‹ì„ Trining Setê³¼ Test Setìœ¼ë¡œ ë‚˜ëˆˆë‹¤.

ã…¤â‘¡ Training Setë¥¼ kê°œì˜ í´ë“œë¡œ ë‚˜ëˆˆë‹¤.

ã…¤â‘¢ ì²« ë²ˆì§¸ í´ë“œë¥¼ Validation Setìœ¼ë¡œ ì‚¬ìš©í•˜ê³ , ë‚˜ë¨¸ì§€ í´ë“œë“¤ì€ Training Setìœ¼ë¡œ ì‚¬ìš©í•œë‹¤.

ã…¤â‘£ ëª¨ë¸ì„ Trainingí•œ ë’¤, ì²« ë²ˆì§¸ Validation Setìœ¼ë¡œ í‰ê°€í•œë‹¤.

ã…¤â‘¤ ì°¨ë¡€ëŒ€ë¡œ ë‹¤ìŒ í´ë“œë¥¼ Validation Setìœ¼ë¡œ ì‚¬ìš©í•˜ë©° kë²ˆ ë°˜ë³µí•œë‹¤.

<br><br>
K-Fold êµì°¨ê²€ì¦ì˜ ìì„¸í•œ ì„¤ëª…ì€ ğŸ“– ê¸°ì´ˆ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ (3) - Scikit-learn í¸ì„ ì°¸ê³ í•´ì£¼ì„¸ìš” !

[[ë°ì´ì¬â˜€ï¸_2í¸] ğŸ“– ê¸°ì´ˆ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš© ì„¤ëª…ì„œ (3) - Scikit-learn](https://dacon.io/codeshare/4877?page=1&dtype=recent)

<br>

target ë³€ìˆ˜ì— ì¢…ì†ë³€ìˆ˜ì¸ 'Body Mass (g)'ë¥¼ ì €ì¥í•˜ê³ ,

feature ë³€ìˆ˜ì— ë¶ˆí•„ìš”í•œ ë³€ìˆ˜ 'id'ì™€ ì¢…ì†ë³€ìˆ˜ 'Body Mass (g)'ë¥¼ ì œê±°í•œ ë°ì´í„°ë¥¼ ì €ì¥í•´ì¤ë‹ˆë‹¤.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

target = labeled_train['Body Mass (g)']
print(target.shape)

# í•™ìŠµì— ë¶ˆí•„ìš”í•œ ë³€ìˆ˜ ì œê±°
feature = labeled_train.drop(['id', 'Body Mass (g)'], axis=1)
print(feature.shape)

(111,)
(111, 9)

<br>

LinearRegressionì™€ 5ê°œì˜ í´ë“œ ì„¸íŠ¸ë¡œ ë¶„ë¦¬í•˜ëŠ” KFold ê°ì²´ë¥¼ ìƒì„±í•´ì¤ë‹ˆë‹¤.

In [ ]:
lr = LinearRegression()

# í´ë“œ ê°œìˆ˜ í• ë‹¹
kfold = KFold(n_splits=5)

- **LinearRegression()**

  LinearRegression í´ë˜ìŠ¤ë¥¼ ì´ìš©í•˜ë©´ ì„ í˜• íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

- **KFold(n_splits=5)**

  KFold í•¨ìˆ˜ë¥¼ ì´ìš©í•´ í´ë“œ ê°œìˆ˜ë¥¼ í• ë‹¹í•´ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

  ì¼ë°˜ì ìœ¼ë¡œ 5, 10 ë“±ì˜ ê°’ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

<br>

ê° í´ë“œë§ˆë‹¤ ë‹¤ë¥¸ x_trainê³¼ y_trainì„ ì´ìš©í•´ ëª¨ë¸ì„ í•™ìŠµí•˜ê³ , x_testë¥¼ ì˜ˆì¸¡í•´ ì˜ˆì¸¡ê°’ì„ y_testì™€ ë¹„êµí•˜ì—¬ RMSEë¥¼ êµ¬í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [ ]:
cv_rmse = []
n_iter = 0

for train_index, test_index, in kfold.split(feature):

    x_train, x_test = feature.iloc[train_index], feature.iloc[test_index]
    y_train, y_test = target.iloc[train_index], target.iloc[test_index]

    # ëª¨ë¸ í•™ìŠµ
    lr = lr.fit(x_train, y_train)

    # í…ŒìŠ¤íŠ¸ì…‹ ì˜ˆì¸¡
    pred = lr.predict(x_test)

    # ë°˜ë³µ íšŸìˆ˜ 1íšŒ ì¦ê°€
    n_iter += 1

    error = RMSE(y_test, pred)
    train_size = x_train.shape[0]
    test_size = x_test.shape[0]

    print('\n{0}ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : {1}, í•™ìŠµ ë°ì´í„° í¬ê¸° : {2}, ê²€ì¦ ë°ì´í„° í¬ê¸° : {3}'.format(n_iter, error, train_size, test_size))
    print('{0}ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : {1}'.format(n_iter, test_index))
    cv_rmse.append(error)

print('\n==> ì´ ë°©ì •ì‹ì˜ í‰ê·  RMSEëŠ” {}ì…ë‹ˆë‹¤.'.format(np.mean(cv_rmse)))

1ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : 239.82928886634735, í•™ìŠµ ë°ì´í„° í¬ê¸° : 88, ê²€ì¦ ë°ì´í„° í¬ê¸° : 23
1ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]

2ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : 429.61020936880345, í•™ìŠµ ë°ì´í„° í¬ê¸° : 89, ê²€ì¦ ë°ì´í„° í¬ê¸° : 22
2ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : [23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]

3ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : 399.4780502908268, í•™ìŠµ ë°ì´í„° í¬ê¸° : 89, ê²€ì¦ ë°ì´í„° í¬ê¸° : 22
3ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : [45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66]

4ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : 257.3075886771985, í•™ìŠµ ë°ì´í„° í¬ê¸° : 89, ê²€ì¦ ë°ì´í„° í¬ê¸° : 22
4ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : [67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88]

5ë²ˆì§¸ êµì°¨ ê²€ì¦ RMSE : 355.9484843947441, í•™ìŠµ ë°ì´í„° í¬ê¸° : 89, ê²€ì¦ ë°ì´í„° í¬ê¸° : 22
5ë²ˆì§¸ ê²€ì¦ ì„¸íŠ¸ ì¸ë±ìŠ¤ : [ 89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106
 107 108 109 110]

==> ì´ ë°©ì •ì‹ì˜ í‰ê·  RMSEëŠ” 336.434724319584ì…ë‹ˆë‹¤.

- **kfold.split(feature)**

  split() í•¨ìˆ˜ë¥¼ í˜¸ì¶œí•´ ì „ì²´ í­ê·„ ë°ì´í„°ë¥¼ 5ê°œì˜ í´ë“œ ë°ì´í„° ì„¸íŠ¸ë¡œ ë¶„ë¦¬í•©ë‹ˆë‹¤.

- **lr.fit(x_train, y_train)**

  LinearRegression í´ë˜ìŠ¤ì˜ fit ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•´ í›ˆë ¨ì‹œí‚µë‹ˆë‹¤.

- **RMSE(y_test, pred)**

  ì˜ˆì¸¡ê°’(pred)ê³¼ ì‹¤ì œê°’(y_test)ì˜ ì°¨ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í•˜ëŠ” RMSEë¥¼ êµ¬í•©ë‹ˆë‹¤.

<br>

êµì°¨ ê²€ì¦ì„ ë” í¸ë¦¬í•˜ê²Œ ìˆ˜í–‰í•  ìˆ˜ ìˆê²Œ í•´ì£¼ëŠ” APIì¸ cross_val_score()ë¥¼ ì´ìš©í•´ êµì°¨ ê²€ì¦ìœ¼ë¡œ MSEì™€ RMSEë¥¼ ì¶”ì •í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# cross_val_score()ë¡œ êµ¬í˜„í•˜ê¸°
from sklearn.model_selection import cross_val_score

neg_mse_scores = cross_val_score(lr, feature, target, scoring="neg_mean_squared_error", cv=5)
rmse_scores = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print(' 5 folds ì˜ ê°œë³„ Negative MSE scores : ', np.round(neg_mse_scores))
print(' 5 folds ì˜ ê°œë³„ RMSE scores : ', np.round(rmse_scores))
print(' 5 folds ì˜ í‰ê·  RMSE : ', np.round(avg_rmse, 3))

 5 folds ì˜ ê°œë³„ Negative MSE scores :  [ -57518. -184565. -159583.  -66207. -126699.]
 5 folds ì˜ ê°œë³„ RMSE scores :  [240. 430. 399. 257. 356.]
 5 folds ì˜ í‰ê·  RMSE :  336.435

- **cross_val_score(lr, feature, target, scoring="neg_mean_squared_error", cv=5)**

  scoringì€ ì˜ˆì¸¡ ì„±ëŠ¥ í‰ê°€ ì§€í‘œì…ë‹ˆë‹¤. "neg_mean_squared_error"ëŠ” MSEì— ìŒìˆ˜ë¥¼ ì·¨í•œ ê°’ì…ë‹ˆë‹¤.

  cvëŠ” êµì°¨ ê²€ì¦ í´ë“œ ìˆ˜ë¥¼ ê²°ì •í•©ë‹ˆë‹¤.

- **np.sqrt(-1 * neg_mse_scores)**

  RMSEë¥¼ êµ¬í•˜ê¸° ìœ„í•´ì„œ ìŒìˆ˜ ê°’ì¸ neg_mse_scoresì— -1ì„ ê³±í•´ì£¼ê³  ì œê³±ê·¼ì„ ì·¨í•´ì¤ë‹ˆë‹¤.

<br>

#### **[ ì˜ˆì¸¡í•˜ê¸° ]**

ì˜ˆì¸¡ì„ ì§„í–‰ í•  test.csv ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ë°ì´ì¬/test.csv')

# ë°ì´í„° í™•ì¸
test.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
1,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
2,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
3,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
4,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837

<br>

test.csvì—ë„ train.csvì™€ ë™ì¼í•œ ì „ì²˜ë¦¬ ê³¼ì •ì„ ì§„í–‰í•´ì¤ë‹ˆë‹¤.

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   228 non-null    int64
 1   Species              228 non-null    object
 2   Island               228 non-null    object
 3   Clutch Completion    228 non-null    object
 4   Culmen Length (mm)   228 non-null    float64
 5   Culmen Depth (mm)    228 non-null    float64
 6   Flipper Length (mm)  228 non-null    float64
 7   Sex                  222 non-null    object
 8   Delta 15 N (o/oo)    219 non-null    float64
 9   Delta 13 C (o/oo)    220 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 17.9+ KB

Sex, Delta 15 N (o/oo), Delta 13 C (o/oo) ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ì¡´ì¬í•©ë‹ˆë‹¤.

<br>

train.csvëŠ” Sex ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ” í–‰ì„ ì‚­ì œí–ˆì§€ë§Œ test.csvì˜ í–‰ì€ ì‚­ì œí•˜ë©´ ì•ˆë˜ë¯€ë¡œ, 

train.csvì˜ ë¶„í¬ì—ì„œ ê°œìˆ˜ê°€ ë” í° "MALE" ê°’ì„ ì„ì˜ë¡œ ë¶€ì—¬í•©ë‹ˆë‹¤.

In [ ]:
train[['Sex']].value_counts()

Sex
MALE      56
FEMALE    55
dtype: int64

In [ ]:
test['Sex'] = test['Sex'].fillna("MALE")

<br>

train.csvì™€ ë§ˆì°¬ê°€ì§€ë¡œ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì˜ ê²°ì¸¡ê°’ì—ëŠ” 0ê°’ì„ ì±„ì›Œì¤ë‹ˆë‹¤.

In [ ]:
test_preprocessed = test.fillna(0)
test_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   228 non-null    int64
 1   Species              228 non-null    object
 2   Island               228 non-null    object
 3   Clutch Completion    228 non-null    object
 4   Culmen Length (mm)   228 non-null    float64
 5   Culmen Depth (mm)    228 non-null    float64
 6   Flipper Length (mm)  228 non-null    float64
 7   Sex                  228 non-null    object
 8   Delta 15 N (o/oo)    228 non-null    float64
 9   Delta 13 C (o/oo)    228 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 17.9+ KB

ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.

<br>

test.csvì—ë„ ë ˆì´ë¸” ì¸ì½”ë”©ì„ ë™ì¼í•˜ê²Œ ì§„í–‰í•´ì¤ë‹ˆë‹¤.

In [ ]:
labeled_test = label_encoder(test_preprocessed, label_map)
labeled_test.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,2,2,1,52.0,20.7,210.0,1,9.43146,-24.68440
1,1,1,1,1,55.9,17.0,228.0,1,8.31180,-26.35425
2,2,3,2,1,38.9,18.8,190.0,2,8.36936,-26.11199
3,3,2,2,1,45.2,16.6,191.0,2,9.62357,-24.78984
4,4,3,1,2,37.9,18.6,172.0,2,8.38404,-25.19837

<br>

train.csvì™€ ë§ˆì°¬ê°€ì§€ë¡œ id ì»¬ëŸ¼ì„ ì œê±°í•´ì¤ë‹ˆë‹¤.

In [ ]:
labeled_test = labeled_test.drop(['id'], axis=1)
labeled_test.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,2,2,1,52.0,20.7,210.0,1,9.43146,-24.68440
1,1,1,1,55.9,17.0,228.0,1,8.31180,-26.35425
2,3,2,1,38.9,18.8,190.0,2,8.36936,-26.11199
3,2,2,1,45.2,16.6,191.0,2,9.62357,-24.78984
4,3,1,2,37.9,18.6,172.0,2,8.38404,-25.19837

In [ ]:
labeled_test.shape

(228, 9)

<br>

ì „ì²˜ë¦¬ê°€ ëª¨ë‘ ì™„ë£Œëœ labeled_test ë°ì´í„°ë¡œ ì˜ˆì¸¡í•´ì¤ë‹ˆë‹¤.

In [ ]:
predict_test = lr.predict(labeled_test)
predict_test

array([4388.63197662, 5475.79462367, 3519.95427357, 3529.65881047,
       3168.73489075, 4151.7061863 , 4709.47535294, 5332.62117815,
       4808.73679767, 3822.14135129, 4270.31825273, 4649.76331742,
       4827.78929771, 4728.50250703, 5128.98829118, 5315.05184702,
       4119.37742331, 3999.53380314, 3439.79568154, 3408.58713604,
       4232.6747602 , 5612.97113395, 5391.97579793, 4178.70875307,
       3478.3635657 , 4684.17410447, 3497.78855565, 4728.33315314,
       4179.98022798, 4713.97816505, 3438.14216593, 4848.47761732,
       3530.23626165, 4928.63967993, 4046.63351267, 2938.83472508,
       4466.55808909, 3605.05177154, 4088.98330906, 4621.29786807,
       4055.93774865, 3741.62151475, 3968.15019808, 5442.4448009 ,
       3529.36395883, 4677.36406967, 3896.03471005, 4260.49604344,
       4752.9329019 , 5513.83299256, 3873.84818969, 4061.94921775,
       3377.69641901, 4315.55213757, 4012.07999574, 3892.93294032,
       4715.71906283, 4129.07109732, 4805.87002646, 3794.37340165,
       4116.19725358, 3688.94850505, 4045.35843322, 5583.51643207,
       3265.22060941, 4043.14566504, 4238.19938227, 4832.13509024,
       3917.53962362, 4067.09550118, 4895.02101285, 3230.36767129,
       3326.67641401, 3677.57172872, 5430.75250953, 5848.15626633,
       3447.10692637, 4051.63286654, 5521.85918714, 4944.69187506,
       3944.32437847, 4634.58106408, 4093.68448415, 4852.60046328,
       5452.42027995, 4035.12623269, 5411.85000778, 3979.6581961 ,
       3616.8351103 , 5282.70417148, 4614.45691406, 3373.00722238,
       3616.17171648, 3623.61336673, 3306.9071925 , 3536.81131309,
       3544.44761714, 3123.60489258, 5395.7669883 , 4197.08293889,
       3150.05881858, 3494.66000311, 3393.40450613, 5457.36214292,
       5557.02198069, 3490.98160428, 6274.66115985, 5346.1580162 ,
       4291.36306755, 3523.06804277, 4612.63763053, 3378.17561004,
       4329.32461411, 3912.50702266, 5461.07911799, 4056.895804  ,
       3588.3727982 , 3658.44405405, 3753.76422494, 3785.22531795,
       4000.27588269, 5186.39542008, 3555.46738395, 4337.04443239,
       4219.36664134, 4045.11097024, 5330.36448305, 4220.7624881 ,
       3542.97602483, 3715.95484375, 3869.11300749, 4112.13525839,
       5330.61024857, 5388.26701942, 5277.93593345, 3905.65866867,
       3548.57847486, 3350.97811168, 4857.7036002 , 3417.53926873,
       3950.00465473, 4692.92923932, 3610.41470645, 3255.25521644,
       4406.3978938 , 3561.76183584, 4613.30758446, 3632.03824942,
       5422.02748313, 4162.47614856, 5434.58332354, 3340.18218746,
       5418.89389083, 5439.82821466, 4104.51064728, 5627.41652601,
       3519.52478245, 4243.54789002, 3613.22869248, 4024.19018864,
       3900.65962192, 3583.20135148, 3251.30616759, 3047.87612151,
       5347.61844126, 3531.04008311, 5445.94739347, 4654.30671771,
       3828.61296113, 3793.44928746, 5586.77675251, 3506.89841598,
       5438.77114748, 3452.55636066, 3224.35176442, 5019.31499239,
       4375.40549213, 4702.14460676, 5343.43773976, 3285.41074987,
       4004.45020642, 4253.14024875, 4012.75479764, 4519.64137695,
       4586.61357172, 4388.97622781, 4729.77620594, 5359.09484237,
       3351.76942037, 3274.02156726, 3980.83658571, 3724.07450095,
       3927.79187296, 4071.56819708, 5001.37197571, 5383.34498455,
       4061.59453088, 5404.01092564, 3635.96292899, 3564.9844273 ,
       3833.64082657, 4729.75691171, 4560.29559014, 4728.0782772 ,
       4170.11764203, 4601.27095843, 3608.48321741, 4218.59002218,
       4722.98790975, 5446.25838055, 3561.42088544, 3285.73692507,
       3056.93063917, 3524.09976622, 3666.35208802, 4664.63494692,
       5513.57095511, 3714.55451819, 4313.8359406 , 3960.39655693,
       3466.70411783, 3590.98893126, 4767.58139573, 4195.96498666,
       4770.41871407, 4709.34982662, 4158.40199399, 4192.24409351])

<br>

ì´ë ‡ê²Œ ì„ í˜• íšŒê·€ ê¸°ë²•ìœ¼ë¡œ í­ê·„ì˜ ëª¸ë¬´ê²Œë¥¼ ì˜ˆì¸¡í•´ë´¤ìŠµë‹ˆë‹¤.

í‰ê·  RMSE ê°’ì´ 336.435ë¡œ ë§¤ìš° ë†’ê²Œ ë‚˜ì™€ ì¢‹ì€ ëª¨ë¸ì´ë¼ê³  í•  ìˆ˜ëŠ” ì—†ì§€ë§Œ, ì•ìœ¼ë¡œ ë°°ìš°ê²Œ ë  ë‚´ìš©ì„ ì ìš©í•œë‹¤ë©´ ë” ì¢‹ì€ ëª¨ë¸ë¡œ ìˆ˜ì •í•  ìˆ˜ ìˆì„ ê²ƒì…ë‹ˆë‹¤!

<br><br>

## **2. ê·œì œ ì„ í˜• ëª¨ë¸**

ì´ì „ê¹Œì§€ëŠ” ì„ í˜• ëª¨ë¸ì€ ì‹¤ì œê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ìµœì†Œí™”í•˜ëŠ” ê²ƒë§Œ ê³ ë ¤í–ˆìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‹¤ ë³´ë‹ˆ í•™ìŠµ ë°ì´í„°ì— ì§€ë‚˜ì¹˜ê²Œ ë§ì¶°ì§€ê²Œ ë˜ê³ , íšŒê·€ ê³„ìˆ˜ê°€ ì‰½ê²Œ ì»¤ì ¸ ì˜ˆì¸¡ ì„±ëŠ¥ì´ ì‰½ê²Œ ì €í•˜ë˜ëŠ” ë¬¸ì œê°€ ë°œìƒí•©ë‹ˆë‹¤. 

<br>

ì´ëŸ¬í•œ ë¬¸ì œë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´, ë¹„ìš© í•¨ìˆ˜ì— alpha ê°’ìœ¼ë¡œ í˜ë„í‹°ë¥¼ ë¶€ì—¬í•´ íšŒê·€ ê³„ìˆ˜ ê°’ì˜ í¬ê¸°ë¥¼ ê°ì†Œì‹œì¼œ ê³¼ì í•©ì„ ê°œì„ í•˜ëŠ” ë°©ì‹ì„ **ê·œì œ(Regularization)**ë¼ê³  í•©ë‹ˆë‹¤.

<br>

ê·œì œëŠ” í¬ê²Œ L2ë°©ì‹ê³¼ L1ë°©ì‹ìœ¼ë¡œ êµ¬ë¶„ë©ë‹ˆë‹¤. 

L2 ê·œì œë¥¼ ì ìš©í•œ íšŒê·€ë¥¼ **ë¦¿ì§€(Ridge)** íšŒê·€, <br>
L1 ê·œì œë¥¼ ì ìš©í•œ íšŒê·€ë¥¼ **ë¼ì˜(Lasso)** íšŒê·€, <br>
L2 ê·œì œì™€ L1 ê·œì œë¥¼ ê²°í•©í•œ íšŒê·€ë¥¼ **ì—˜ë¼ìŠ¤í‹±ë„·(Elastic net)** íšŒê·€ë¼ê³  í•©ë‹ˆë‹¤.

<br>

### **1) ë¦¿ì§€ íšŒê·€ (Ridge)**

Wì˜ ì œê³±ì— ëŒ€í•´ í˜ë„í‹°ë¥¼ ë¶€ì—¬í•˜ëŠ” L2 ê·œì œë¥¼ ì„ í˜• íšŒê·€ì— ì ìš©í•œ ê²ƒì´ **ë¦¿ì§€(Ridge)** íšŒê·€ì…ë‹ˆë‹¤.

ì‚¬ì´í‚·ëŸ°ì€ **Ridge** í´ë˜ìŠ¤ë¥¼ í†µí•´ ë¦¿ì§€ íšŒê·€ë¥¼ êµ¬í˜„í•˜ê³ , Ridge í´ë˜ìŠ¤ì˜ ì£¼ìš” ìƒì„± íŒŒë¼ë¯¸í„° alphaëŠ” ë¦¿ì§€ íšŒê·€ì˜ alpha L2 ê·œì œ ê³„ìˆ˜ì— í•´ë‹¹í•©ë‹ˆë‹¤. 

alpha ê°’ì„ ì¦ê°€ì‹œí‚¤ë©´ íšŒê·€ ê³„ìˆ˜ê°€ 0ì— ê°€ê¹Œì›Œì§‘ë‹ˆë‹¤.

<br>

í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ì˜ˆì œë¥¼ Ridge í´ë˜ìŠ¤ë¥¼ ì´ìš©í•´ ë‹¤ì‹œ ì˜ˆì¸¡í•´ë³´ê³ , ì˜ˆì¸¡ ì„±ëŠ¥ì„ cross_val_score()ë¡œ í‰ê°€í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

# alpha=10
ridge = Ridge(alpha=10)
neg_mse_scores = cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv=5)
rmse_scores = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

In [ ]:
print(' 5 folds ì˜ ê°œë³„ Negative MSE scores: ', np.round(neg_mse_scores, 3))
print(' 5 folds ì˜ ê°œë³„ RMSE scores : ', np.round(rmse_scores, 3))
print(' 5 folds ì˜ í‰ê·  RMSE : {0:.3f} '.format(avg_rmse))

 5 folds ì˜ ê°œë³„ Negative MSE scores:  [ -79001.629 -122951.296 -200218.     -63408.547 -148638.895]
 5 folds ì˜ ê°œë³„ RMSE scores :  [281.072 350.644 447.457 251.811 385.537]
 5 folds ì˜ í‰ê·  RMSE : 343.304

- **Ridge(alpha=10)**

  Ridge í´ë˜ìŠ¤ì˜ alpha ê°’ì„ 10ìœ¼ë¡œ ì§€ì •í•´ ë¦¿ì§€ íšŒê·€ë¥¼ êµ¬í˜„í•©ë‹ˆë‹¤.

- **cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv=5)**

  scoringì€ ì˜ˆì¸¡ ì„±ëŠ¥ í‰ê°€ ì§€í‘œì…ë‹ˆë‹¤. "neg_mean_squared_error"ëŠ” MSEì— ìŒìˆ˜ë¥¼ ì·¨í•œ ê°’ì…ë‹ˆë‹¤.

  cvëŠ” êµì°¨ ê²€ì¦ í´ë“œ ìˆ˜ë¥¼ ê²°ì •í•©ë‹ˆë‹¤.

- **np.sqrt(-1 * neg_mse_scores)**

  RMSEë¥¼ êµ¬í•˜ê¸° ìœ„í•´ì„œ ìŒìˆ˜ ê°’ì¸ neg_mse_scoresì— -1ì„ ê³±í•´ì£¼ê³  ì œê³±ê·¼ì„ ì·¨í•´ì¤ë‹ˆë‹¤.

<br>


alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ RMSEì™€ ë¦¿ì§€ íšŒê·€ ê³„ìˆ˜ ê°’ì˜ ë³€í™”ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ í‰ê·  RMSEì˜ ë³€í™”

ridge_alphas = [0, 0.1, 1, 10, 100]

print('####### Ridge #######\n')

for alpha in ridge_alphas :
    ridge = Ridge(alpha = alpha)

    neg_mse_scores = cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### Ridge #######

alpha 0 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 336.435
alpha 0.1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 336.058
alpha 1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 334.030
alpha 10 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 343.304
alpha 100 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 380.382

<br>

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ íšŒê·€ ê³„ìˆ˜ì˜ ë³€í™”

coeff_df = pd.DataFrame()

for pos, alpha in enumerate(ridge_alphas) :
    ridge = Ridge(alpha = alpha)
    ridge.fit(feature, target)
 
    coeff = pd.Series(data=ridge.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

ridge_alphas = [0,  0.1, 1, 10, 100]
sort_column = 'alpha:'+str(ridge_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

                        alpha:0   alpha:0.1     alpha:1    alpha:10  alpha:100
Flipper Length (mm)   21.623332   21.855423   23.741002   33.552173  45.765131
Culmen Length (mm)    -2.214608   -2.004133   -0.449875    2.960192  -2.087745
Culmen Depth (mm)     -3.400970   -3.416346   -3.318055    2.058305   8.750774
Clutch Completion    -47.282738  -46.476422  -40.371939  -19.239780  -4.136799
Delta 13 C (o/oo)    -50.412840  -50.191168  -48.211800  -31.951518   5.234197
Island              -153.072266 -152.899564 -150.692937 -116.225366 -29.276721
Species             -207.312277 -203.091492 -170.627486  -53.533299  -1.186027
Delta 15 N (o/oo)   -223.680146 -223.057735 -217.443598 -169.586261 -54.187006
Sex                 -553.031504 -548.377626 -510.443787 -313.307189 -71.173689

- **enumerate(ridge_alphas)**

  ì¸ë±ìŠ¤ì™€ ì›ì†Œë¥¼ ë™ì‹œì— ë¦¬í„´í•©ë‹ˆë‹¤.

- **coeff_df.sort_values(by=sort_column, ascending=False)**

  alpha:0 ì»¬ëŸ¼ì˜ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆìŠµë‹ˆë‹¤.

<br>

alpha ê°’ì´ 0, 0.1, 1, 10, 100ìœ¼ë¡œ ë³€í™”í•¨ì— ë”°ë¼ í‰ê·  RMSEì˜ ê°’ê³¼ íšŒê·€ ê³„ìˆ˜ê°€ ì–´ë–»ê²Œ ë³€í™”í•˜ëŠ”ì§€ ì‚´í´ë³´ì•˜ìŠµë‹ˆë‹¤.

alphaê°€ 1ì¼ ë•Œ 334.030ìœ¼ë¡œ ê°€ì¥ ì¢‹ì€ í‰ê·  RMSEë¥¼ ë³´ì—¬ì£¼ë©°,
ê·œì œê°€ ì—†ëŠ” LinearRegressionì˜ í‰ê·  RMSEì¸ 336.435ë³´ë‹¤ ë” ë›°ì–´ë‚œ ì˜ˆì¸¡ ì„±ëŠ¥ì„ ë³´ì—¬ì¤ë‹ˆë‹¤.

alpha ê°’ì„ ê³„ì† ì¦ê°€ì‹œí‚¬ìˆ˜ë¡ íšŒê·€ ê³„ìˆ˜ ê°’ì€ 0ì— ê°€ê¹Œì›Œì§ì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

í•˜ì§€ë§Œ ë¦¿ì§€ íšŒê·€ì˜ ê²½ìš°, íšŒê·€ ê³„ìˆ˜ë¥¼ 0ìœ¼ë¡œ ë§Œë“¤ì§€ëŠ” ì•ŠìŠµë‹ˆë‹¤.

<br>

### **2) ë¼ì˜ íšŒê·€ (Lasso)**

Wì˜ ì ˆëŒ“ê°’ì— í˜ë„í‹°ë¥¼ ë¶€ì—¬í•˜ëŠ” L1 ê·œì œë¥¼ ì„ í˜• íšŒê·€ì— ì ìš©í•œ ê²ƒì´ **ë¼ì˜(Lasso)** íšŒê·€ì…ë‹ˆë‹¤.

L1 ê·œì œëŠ” ë¶ˆí•„ìš”í•œ íšŒê·€ ê³„ìˆ˜ë¥¼ ê¸‰ê²©í•˜ê²Œ ê°ì†Œì‹œì¼œ 0ìœ¼ë¡œ ë§Œë“¤ê³  ì œê±°í•©ë‹ˆë‹¤. ì´ëŸ¬í•œ ì ì—ì„œ L1 ê·œì œëŠ” ì ì ˆí•œ í”¼ì²˜ë§Œ íšŒê·€ì— í¬í•¨ì‹œí‚¤ëŠ” í”¼ì²˜ ì„ íƒì˜ íŠ¹ì„±ì„ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤. 

ì‚¬ì´í‚·ëŸ°ì€ **Lasso** í´ë˜ìŠ¤ë¥¼ í†µí•´ ë¼ì˜ íšŒê·€ë¥¼ êµ¬í˜„í–ˆìŠµë‹ˆë‹¤. Lasso í´ë˜ìŠ¤ì˜ ì£¼ìš” ìƒì„± íŒŒë¼ë¯¸í„° alphaëŠ” ë¼ì˜ íšŒê·€ì˜ alpha L1 ê·œì œ ê³„ìˆ˜ì— í•´ë‹¹í•©ë‹ˆë‹¤.

<br>

í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ì˜ˆì œë¥¼ Lasso í´ë˜ìŠ¤ë¥¼ ì´ìš©í•´ ë‹¤ì‹œ ì˜ˆì¸¡í•´ë³´ê³ , 
alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ RMSEì™€ ë¼ì˜ íšŒê·€ ê³„ìˆ˜ ê°’ì˜ ë³€í™”ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ í‰ê·  RMSEì˜ ë³€í™”

from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score

print('####### Lasso #######\n')

lasso_alphas = [0.07, 0.1, 0.5, 1, 3]

for alpha in lasso_alphas :
    lasso = Lasso(alpha = alpha)

    neg_mse_scores = cross_val_score(lasso, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### Lasso #######

alpha 0.07 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 336.335
alpha 0.1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 336.292
alpha 0.5 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 335.737
alpha 1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 335.092
alpha 3 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 332.923

<br>

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ íšŒê·€ ê³„ìˆ˜ì˜ ë³€í™”

coeff_df = pd.DataFrame()
lasso_alphas = [0.07, 0.1, 0.5, 1, 3]

for pos, alpha in enumerate(lasso_alphas) :
    lasso = Lasso(alpha = alpha)
    lasso.fit(feature, target)
 
    coeff = pd.Series(data=lasso.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

sort_column = 'alpha:'+str(lasso_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

,alpha:0.07,alpha:0.1,alpha:0.5,alpha:1,alpha:3
Flipper Length (mm),21.687330,21.714773,22.080431,22.536345,24.351787
Culmen Length (mm),-2.178699,-2.163249,-1.954906,-1.690305,-0.610893
Culmen Depth (mm),-3.513451,-3.561635,-4.203873,-5.005738,-8.205612
Clutch Completion,-46.433493,-46.069377,-41.211136,-35.134500,-10.815259
Delta 13 C (o/oo),-50.325479,-50.288148,-49.794829,-49.186711,-46.799919
Island,-152.872766,-152.787265,-151.649399,-150.233161,-144.606550
Species,-206.176254,-205.688735,-199.174336,-191.017523,-158.358386
Delta 15 N (o/oo),-223.403225,-223.284866,-221.719717,-219.788274,-212.196283
Sex,-552.183289,-551.819425,-546.962061,-540.885352,-516.569571

<br>

alpha ê°’ì´ 0.07, 0.1, 0.5, 1, 3ìœ¼ë¡œ ë³€í™”í•¨ì— ë”°ë¼ í‰ê·  RMSEì˜ ê°’ê³¼ íšŒê·€ ê³„ìˆ˜ê°€ ì–´ë–»ê²Œ ë³€í™”í•˜ëŠ”ì§€ ì‚´í´ë³´ì•˜ìŠµë‹ˆë‹¤.

alphaê°€ 3ì¼ ë•Œ 332.923ìœ¼ë¡œ ê°€ì¥ ì¢‹ì€ í‰ê·  RMSEë¥¼ ë³´ì—¬ì£¼ë©°,
ì•ì˜ ë¦¿ì§€ íšŒê·€ì˜ í‰ê·  RMSE 334.030ë³´ë‹¤ ë” ì¢‹ì€ ìˆ˜ì¹˜ì…ë‹ˆë‹¤.

í˜„ì¬ ì¶œë ¥ê°’ì—ëŠ” ì˜ ë‚˜íƒ€ë‚˜ì§€ ì•Šì•˜ì§€ë§Œ, ë¼ì˜ íšŒê·€ì˜ íŠ¹ì„±ìƒ ë¶ˆí•„ìš”í•œ íšŒê·€ ê³„ìˆ˜ë¥¼ 0ìœ¼ë¡œ ë§Œë“¤ê¸° ë•Œë¬¸ì— íšŒê·€ ê³„ìˆ˜ê°€ 0ì¸ ê²½ìš°ê°€ ì¢…ì¢… ë‚˜íƒ€ë‚©ë‹ˆë‹¤.

<br>

### **3) ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€ (Elastic Net)**

**ì—˜ë¼ìŠ¤í‹±ë„·(Elastic Net)** íšŒê·€ëŠ” L2 ê·œì œì™€ L1 ê·œì œë¥¼ ê²°í•©í•œ íšŒê·€ì…ë‹ˆë‹¤.

ë¼ì˜ íšŒê·€ëŠ” ì„œë¡œ ìƒê´€ê´€ê³„ê°€ ë†’ì€ í”¼ì²˜ë“¤ì˜ ê²½ìš° ì¤‘ìš” í”¼ì²˜ë§Œì„ ì„ íƒí•˜ê³  ë‹¤ë¥¸ í”¼ì²˜ë“¤ì˜ íšŒê·€ ê³„ìˆ˜ëŠ” ëª¨ë‘ 0ìœ¼ë¡œ ë§Œë“œëŠ” ì„±í–¥ì´ ê°•í•©ë‹ˆë‹¤. í•˜ì§€ë§Œ ì´ëŸ¬í•œ ì„±í–¥ìœ¼ë¡œ alpha ê°’ì— ë”°ë¼ íšŒê·€ ê³„ìˆ˜ì˜ ê°’ì´ ê¸‰ê²©íˆ ë³€ë™í•  ìˆ˜ë„ ìˆëŠ”ë°, ì´ë¥¼ ì™„í™”í•˜ê¸° ìœ„í•´ L2 ê·œì œê°€ ì¶”ê°€ë˜ì—ˆìŠµë‹ˆë‹¤.

í•˜ì§€ë§Œ ì—˜ë¼ìŠ¤í‹±ë„·ì˜ ê·œì œëŠ” L1 ê·œì œì™€ L2 ê·œì œê°€ ê²°í•©ëœ ê·œì œì´ê¸° ë•Œë¬¸ì— ìˆ˜í–‰ì‹œê°„ì´ ìƒëŒ€ì ìœ¼ë¡œ ì˜¤ë˜ ê±¸ë¦°ë‹¤ëŠ” ë‹¨ì ì´ ìˆìŠµë‹ˆë‹¤.

<br>


ì‚¬ì´í‚·ëŸ°ì€ **ElasticNet** í´ë˜ìŠ¤ë¥¼ í†µí•´ì„œ ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€ë¥¼ êµ¬í˜„í•©ë‹ˆë‹¤. 

ElasticNet í´ë˜ìŠ¤ì˜ ì£¼ìš” ìƒì„± íŒŒë¼ë¯¸í„°ëŠ” *alpha*ì™€ *l1_ratio*ì…ë‹ˆë‹¤. ì´ë•Œ alpha ê°’ì€ Ridgeì™€ Lasso í´ë˜ìŠ¤ì˜ alpha ê°’ê³¼ëŠ” ë‹¤ë¦…ë‹ˆë‹¤. 

<br>

ì—˜ë¼ìŠ¤í‹±ë„·ì˜ ê·œì œëŠ” **a * L1 + b * L2** ë¡œ ì •ì˜ë©ë‹ˆë‹¤. 

ë”°ë¼ì„œ,ã…¤ã…¤**alphaã…¤ã…¤--->ã…¤ã…¤a+b**

ã…¤ã…¤ã…¤ã…¤ã…¤ **l1_ratioã…¤ã…¤--->ã…¤ã…¤a/(a+b)**

<br>

í­ê·„ ëª¸ë¬´ê²Œ ì˜ˆì¸¡ ì˜ˆì œë¥¼ ElasticNet í´ë˜ìŠ¤ë¥¼ ì´ìš©í•´ ë‹¤ì‹œ ì˜ˆì¸¡í•´ë³´ê³ , 
alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ RMSEì™€ ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€ ê³„ìˆ˜ ê°’ì˜ ë³€í™”ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ í‰ê·  RMSEì˜ ë³€í™”

from sklearn.linear_model import ElasticNet
from sklearn.model_selection import cross_val_score

print('####### ElasticNet #######')

elastic_alphas = [0.07, 0.1, 0.5, 1, 3]

for alpha in elastic_alphas :
    elastic = ElasticNet(alpha = alpha, l1_ratio=0.7)

    neg_mse_scores = cross_val_score(elastic, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### ElasticNet #######
alpha 0.07 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 333.500
alpha 0.1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 333.745
alpha 0.5 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 347.653
alpha 1 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 360.314
alpha 3 ì¼ ë•Œ 5 folds ì˜ í‰ê·  RMSE : 377.953

<br>

In [ ]:
# alpha ê°’ì˜ ë³€í™”ì— ë”°ë¥¸ íšŒê·€ ê³„ìˆ˜ì˜ ë³€í™”

coeff_df = pd.DataFrame()
elastic_alphas = [0.07, 0.1, 0.5, 1, 3]

for pos, alpha in enumerate(elastic_alphas) :
    elastic = ElasticNet(alpha = alpha, l1_ratio=0.7)
    elastic.fit(feature, target)
 
    coeff = pd.Series(data=elastic.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

sort_column = 'alpha:'+str(elastic_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

                     alpha:0.07   alpha:0.1   alpha:0.5     alpha:1    alpha:3
Flipper Length (mm)   26.052334   27.482199   37.066032   41.441446  45.783000
Culmen Length (mm)     1.044152    1.755844    2.363217    0.554862  -1.894230
Culmen Depth (mm)     -2.756022   -2.146737    4.178746    7.050860   7.702714
Clutch Completion    -33.551503  -29.959142  -13.175329   -7.773628  -1.976309
Delta 13 C (o/oo)    -45.304774  -43.239431  -23.329811  -10.569721   5.332503
Species             -135.353554 -115.964894  -29.161845   -9.683061  -0.000000
Island              -145.936787 -141.931955  -95.463804  -65.219660 -27.261758
Delta 15 N (o/oo)   -209.048507 -203.024726 -143.675999 -104.850515 -53.129758
Sex                 -464.076666 -435.294167 -246.039561 -162.077506 -69.468636

<Br>

alpha ê°’ì´ 0.07, 0.1, 0.5, 1, 3ìœ¼ë¡œ ë³€í™”í•¨ì— ë”°ë¼ í‰ê·  RMSEì˜ ê°’ê³¼ íšŒê·€ ê³„ìˆ˜ê°€ ì–´ë–»ê²Œ ë³€í™”í•˜ëŠ”ì§€ ì‚´í´ë³´ì•˜ìŠµë‹ˆë‹¤.

alphaê°€ 0.07ì¼ ë•Œ 334.074ë¡œ ê°€ì¥ ì¢‹ì€ í‰ê·  RMSEë¥¼ ë³´ì—¬ì¤ë‹ˆë‹¤.

ë¦¿ì§€ íšŒê·€ì™€ ë¼ì˜ íšŒê·€ì˜ í‰ê·  RMSE ê°’ë³´ë‹¤ëŠ” ì•½ê°„ ë–¨ì–´ì§€ëŠ” ìˆ˜ì¹˜ì§€ë§Œ, LinearRegressionì˜ í‰ê·  RMSEì¸ 336.434ë³´ë‹¤ëŠ” í–¥ìƒë˜ì—ˆìŠµë‹ˆë‹¤.

ì´ë ‡ê²Œ ê·œì œ ì„ í˜• íšŒê·€ì˜ ê°€ì¥ ëŒ€í‘œì ì¸ ê¸°ë²•ì¸ ë¦¿ì§€, ë¼ì˜, ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€ë¥¼ ì‚´í´ë³´ì•˜ìŠµë‹ˆë‹¤. 

ì´ë“¤ ì¤‘ ì–´ë–¤ ê²ƒì´ ê°€ì¥ ì¢‹ì€ì§€ëŠ” ìƒí™©ì— ë”°ë¼ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— ê°ê°ì˜ ì•Œê³ ë¦¬ì¦˜ì—ì„œ í•˜ì´í¼ íŒŒë¼ë¯¸í„°ë¥¼ ë³€ê²½í•´ ê°€ë©´ì„œ ìµœì ì˜ ì˜ˆì¸¡ ì„±ëŠ¥ì„ ì°¾ì•„ë‚´ì•¼ í•©ë‹ˆë‹¤.

<br>

---

<br>

ì´ë ‡ê²Œ ì„ í˜• íšŒê·€(Linear Regression) ë°©ë²•ìœ¼ë¡œ íƒ€ê²Ÿê°’ì„ ì˜ˆì¸¡í•˜ëŠ” ë°©ë²•ì— ëŒ€í•´ ê³µë¶€í•´ë´¤ìŠµë‹ˆë‹¤!
<br><br>
ì—¬ëŸ¬ ê°€ì§€ íšŒê·€ ì¤‘ì—ì„œ ì„ í˜• íšŒê·€ê°€ ê°€ì¥ ë§ì´ ì‚¬ìš©ë˜ê¸° ë•Œë¬¸ì—, 

ë§ì€ ì—°ìŠµì„ í†µí•´ ì„ í˜• íšŒê·€ì— ìµìˆ™í•´ì§„ë‹¤ë©´ ë¨¸ì‹ ëŸ¬ë‹ ì§€ë„í•™ìŠµì„ í•  ë•Œ ë§ì€ ë„ì›€ì´ ë  ê±°ì˜ˆìš”! ğŸ˜„
<br><br>
ğŸ“£ ë‹¤ìŒì€ ê²°ì • íŠ¸ë¦¬(Decision Tree)ë¥¼ ë‹¤ë£¨ëŠ” **ëª¨ë¸ë§ ì‚¬ìš© ì„¤ëª…ì„œ 2íƒ„**ì´ ì—…ë¡œë“œë  ì˜ˆì •ì…ë‹ˆë‹¤!
<br><br>
ë§ì€ ê´€ì‹¬ê³¼ ì• ì • ë¶€íƒë“œë ¤ìš”ğŸ’› ê°ì‚¬í•©ë‹ˆë‹¤!