# **✍️ 데이썬의 모든 시리즈 바로가기!**



[[데이썬☀️_0편] Python으로 시작하는 데이터 분석 사용 설명서](https://dacon.io/codeshare/4743)
<br><br>

[[데이썬☀️_1편] ✏️ 데이터 분석 사용 설명서](https://dacon.io/codeshare/4856)
<br><br>

[[데이썬☀️_2편] 📖 기초 라이브러리 사용 설명서 (1) - Numpy](https://dacon.io/codeshare/4860)

[[데이썬☀️_2편] 📖 기초 라이브러리 사용 설명서 (2) - Pandas](https://dacon.io/codeshare/4861)

[[데이썬☀️_2편] 📖 기초 라이브러리 사용 설명서 (3) - Scikit-learn](https://dacon.io/codeshare/4877)
<br><br>

[[데이썬☀️_3편] 🔍 EDA (탐색적 데이터 분석) 사용 설명서 (1) - EDA & 통계치 분석](https://dacon.io/codeshare/4899)

[[데이썬☀️_3편] 🔍 EDA (탐색적 데이터 분석) 사용 설명서 (2) - Matplotlib](https://dacon.io/codeshare/4906)

[[데이썬☀️_3편] 🔍 EDA (탐색적 데이터 분석) 사용 설명서 (3) - Seaborn](https://dacon.io/codeshare/4905)

[[데이썬☀️_3편] 🔍 EDA (탐색적 데이터 분석) 사용 설명서 (4) - Plotly](https://dacon.io/codeshare/4942)

[[데이썬☀️_3편] 🔍 EDA (탐색적 데이터 분석) 사용 설명서 (5) - Cufflinks](https://dacon.io/codeshare/4945)
<br><br>

[[데이썬☀️_4편] 🛠 전처리 사용 설명서](https://dacon.io/codeshare/4992)

<br><br>

# **🔧 모델링 사용 설명서 1탄**

1. **사이킷런 LinearRegression**

  1) LinearRegression 클래스

  2) 회귀 평가 지표

  3) 펭귄 몸무게 예측 실습

<br>

2. **규제 선형 모델**
 
  1) 릿지 회귀 (Ridge)
 
  2) 라쏘 회귀 (Lasso)
  
  3) 엘라스틱넷 회귀 (Elastic Net)

<br>

---

<br>

## **1. 사이킷런 LinearRegression**

### **1) LinearRegression**

**LinearRegression**은 사이킷런의 linear_models 모듈이 제공하는 다양한 종류의 선형 기반 회귀 클래스 중 규제가 적용되지 않은 선형 회귀를 구현한 클래스입니다.

예측값과 실제값의 RSS(Residual Sum of Squares)를 최소화하여 OLS(Ordinary Least Squares) 방식으로 추정합니다.
<br><br>


> **📌 OLS란?**<br> 선형회귀모델의 추정 방법 중 하나로 선형 모델의 파라미터를 추정하는 가장 기초적이면서 평범한(ordinary) 방법이다. 최소제곱법이라고도 한다.

<br>


**[ 입력 파라미터 ]**

- **fit_intercept**

  : intercept(절편) 값을 계산할 것인지 계산하지 않을 것인지를 즉, 상수항이 있는지 없는지를 지정합니다. 디폴트는 True이고, False로 지정할 경우 intercept가 사용되지 않고 0으로 지정됩니다.

- **normalize**

  : True로 지정하면 회귀를 수행하기 전에 입력 데이터 세트를 정규화합니다. 디폴트는 False이고, fit_intercept가 False인 경우에는 이 파라미터가 무시됩니다. 
<br>

>**📌 정규화란?**<br>서로 다른 피처의 크기를 통일하기 위해 크기를 변화해주는 것으로, 변수를 모두 동일한 크기 단위로 비교하기 위해 값을 모두 최소 0 ~ 최대 1의 값으로 변환합니다. 즉, 개별 데이터의 크기를 모두 똑같은 단위로 변경하는 것입니다.

<br><br>
**[ 속성 ]**

- **coef_(Target 값 개수, 피처 개수)**
  
  : fit() 메서드를 수행했을 때 회귀 계수가 배열 형태로 저장하는 속성입니다.

- **intercept_**

  : intercept(절편) 값이 저장되어 있는 속성입니다.
<br><br>

OLS 기반의 회귀 계수 계산은 입력 피처의 독립성에 많은 영향을 받기 때문에, 피처간의 상관관계가 매우 높은 경우 분산이 매우 커져서 오류에 매우 민감해집니다.

이러한 현상을 **다중 공선성(multi-collinearity)** 문제라고 합니다.

<br>

### **2) 회귀 평가 지표**

회귀 평가 지표는 실제값과 회귀 예측값의 차이를 기반으로 하는데, 실제값과 예측값의 차이를 그냥 더하면 +와 -가 섞여 오류가 상쇄됩니다. 즉, 차이의 값이 하나는 -3이고 다른 하나는 +3인 경우 단순히 더하게 되면 오류가 0이 되기 때문에 정확한 지표가 될 수 없습니다. 

따라서 오류의 **절댓값 평균**이나 **제곱**, 또는 **제곱한 뒤 다시 루트를 씌운 평균값**을 회귀 평가 지표로 사용합니다. <br><br>


#### **[ 회귀 평가 ]**
<br>

![image.png]()

Scoring 함수의 'neg_'라는 접두어는 원래의 평가 지표 값에 -1을 곱해 음수로 만들기 때문에 주의가 필요합니다.

사이킷런의 Scoring 함수는 score값이 클수록 좋은 결과로 평가하지만, 실제값과 예측값의 차이를 기반으로 하는 회귀 평가 지표는 값이 작을수록 좋은 모델이므로 -1을 곱한 값을 사용합니다.

<br>

### **3) 펭귄 몸무게 예측하기 실습**

'펭귄 몸무게 예측 경진대회'는 주어진 펭귄의 종, 부리 길이, 성별 등의 정보들을 이용해 몸무게를 예측하는 대회입니다. 

아래 실습에 사용되는 데이터는 '펭귄 몸무게 예측 경진대회'의 데이터를 사용하고 있으며, 데이콘에서 제공한 Baseline을 참고하여 코드를 작성했습니다. 

<br>

🐧 [펭귄 몸무게 예측 경진대회](https://dacon.io/competitions/official/235862/overview/description)

<br>

#### **[ 데이터 불러오기 ]**

사용할 라이브러리들을 import하고, 학습시킬 데이터를 불러와서 train 변수에 저장하겠습니다.

In [ ]:
# 코랩 사용시
from google.colab import drive  # 구글 드라이브에 파일 생성
drive.mount('/content/drive') # 데이터가 저장된 경로를 입력하세요.

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/데이썬/train.csv')

<br>

#### **[ 데이터 살펴보기 ]**

head()와 dtypes를 이용해 데이터를 살펴보겠습니다.

In [ ]:
train.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700

In [ ]:
train.dtypes

id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

 <br><br>
 **📁 펭귄 데이터의 컬럼 정보**

<br>

- **id** : 일련번호 / 수치형 데이터

- **Species** : 펭귄의 종 / 카테고리형 데이터 

- **Island** : 시료를 채취한 섬 / 카테고리형 데이터

- **Clutch Completion** : 연구 둥지가 <u>완전한 클러치(2개의 알)</u>로 관찰되었는지 여부 / 카테고리형 데이터

- **Culmen Length (mm)** : 부리의 등쪽 능선의 길이 (mm) / 수치형 데이터

- **Culmen Depth (mm)** : 부리의 등쪽 능선의 깊이 (mm) / 수치형 데이터

- **Flipper Length (mm)** : 펭귄 지느러미의 길이 (mm) / 수치형 데이터

- **Sex** : 펭귄의 성별 / 카테고리형 데이터

- **Delta 15 N (o/oo)** : 안정 동위원소 15N:14N의 비율 / 수치형 데이터

- **Delta 13 C (o/oo)** : 안정 동위원소 13C:12C의 비율 / 수치형 데이터

- **Body Mass (g)** : 펭귄의 체질량 (g) / 수치형 데이터

<br><br>
 출처) https://allisonhorst.github.io/palmerpenguins/reference/penguins_raw.html

<br>

#### **[ 결측치 확인 ]**

info()를 이용해 결측치가 존재하는지 확인해보겠습니다.

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   114 non-null    int64
 1   Species              114 non-null    object
 2   Island               114 non-null    object
 3   Clutch Completion    114 non-null    object
 4   Culmen Length (mm)   114 non-null    float64
 5   Culmen Depth (mm)    114 non-null    float64
 6   Flipper Length (mm)  114 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        114 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

Sex, Delta 15 N (o/oo), Delta 13 C (o/oo) 컬럼에 결측치가 존재합니다.

<br>

#### **[ 결측치 처리 ]**

In [ ]:
train[train.isna().sum(axis=1) > 0]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
6,6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190,NaN,9.13362,-25.09368,4250
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
18,18,Adelie Penguin (Pygoscelis adeliae),Dream,No,39.8,19.1,184,MALE,NaN,NaN,4650
70,70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214,NaN,8.24253,-26.81540,4650
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700

결측치가 존재하는 행을 출력했을 때, Sex, Delta 15 N (o/oo), Delta 13 C (o/oo)	컬럼에서 NaN 값을 확인할 수 있습니다.

<br>

카테고리형 데이터에 결측치가 존재하는 경우는 행을 삭제하고, 

수치형 데이터에 결측치가 존재하는 경우는 0값을 채워주겠습니다.

In [ ]:
# 카테고리형 데이터에서 결측치에 해당하는 행 삭제
train_preprocessed = train.dropna(subset=['Sex'])

In [ ]:
# 수치형 데이터에서 결측치에 0값 넣기
train_preprocessed = train_preprocessed.fillna(0)

In [ ]:
# 확인
train_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   111 non-null    int64
 1   Species              111 non-null    object
 2   Island               111 non-null    object
 3   Clutch Completion    111 non-null    object
 4   Culmen Length (mm)   111 non-null    float64
 5   Culmen Depth (mm)    111 non-null    float64
 6   Flipper Length (mm)  111 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        111 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 10.4+ KB

결측치가 존재하지 않습니다.

<br>

#### **[ 레이블 인코딩 ]**

아직 범주형 변수들이 문자열의 형태로 존재하고 있기 때문에 모델 학습이 가능하도록 문자열 형태의 범주형 변수들을 숫자 형태로 인코딩해주어야 합니다.

In [ ]:
# 레이블 인코딩을 하기 위한 dictionary map 생성 함수
def make_label_map(dataframe):
    label_maps = {}
    for col in dataframe.columns:
        if dataframe[col].dtype=='object': 
            label_map = {'unknown':0} 
            for i, key in enumerate(train[col].unique()):
                label_map[key] = i+1
            label_maps[col] = label_map
    return label_maps

# 각 범주형 변수에 인코딩 값을 부여하는 함수
def label_encoder(dataframe, label_map):
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            dataframe[col] = dataframe[col].map(label_map[col])
            dataframe[col] = dataframe[col].fillna(label_map[col]['unknown']) #혹시 모를 결측값은 unknown의 값으로 채워줍니다.
    return dataframe

# 전처리 완료한 train 데이터 : train_preprocessed
label_map = make_label_map(train_preprocessed) # train_preprocessed 사용해 label map 생성
labeled_train = label_encoder(train_preprocessed, label_map) # train_preprocessed 라벨 인코딩

- **enumerate(train[col].unique())**

  enumerate()는 인덱스와 원소로 이루어진 튜플을 생성하는 함수입니다. <br>unique는 고유값을 찾아주는 함수입니다.

- **dataframe[col].map(label_map[col])**

  map 메서드를 이용하면 기존값(key)을 대체값(value)으로 변경할 수 있습니다.

<br>

#### **[ 모델링 ]**

모델링을 하기에 앞서, 회귀 평가 지표로 사용할 RMSE를 출력해주는 함수로 만들어주겠습니다.

사이킷런은 RMSE를 제공하지 않기 때문에 RMSE를 구하기 위해서는 MSE에 제곱근을 씌워서 계산하는 함수를 직접 만들어야 합니다.

In [ ]:
import numpy as np

def RMSE(true, pred):
    score = np.sqrt(np.mean(np.square(true-pred)))
    return score

<br>

K-Fold 교차검증 방식으로 모델링을 해보도록 하겠습니다.

K-Fold 교차검증은 교차 검증 방법 중 가장 일반적으로 사용되는 방법으로 회귀 모델에 많이 사용됩니다.
<br><br>
**❗ K-Fold Cross Validation ❗**
<br><br>

ㅤ① 전체 데이터셋을 Trining Set과 Test Set으로 나눈다.

ㅤ② Training Set를 k개의 폴드로 나눈다.

ㅤ③ 첫 번째 폴드를 Validation Set으로 사용하고, 나머지 폴드들은 Training Set으로 사용한다.

ㅤ④ 모델을 Training한 뒤, 첫 번째 Validation Set으로 평가한다.

ㅤ⑤ 차례대로 다음 폴드를 Validation Set으로 사용하며 k번 반복한다.

<br><br>
K-Fold 교차검증의 자세한 설명은 📖 기초 라이브러리 사용 설명서 (3) - Scikit-learn 편을 참고해주세요 !

[[데이썬☀️_2편] 📖 기초 라이브러리 사용 설명서 (3) - Scikit-learn](https://dacon.io/codeshare/4877?page=1&dtype=recent)

<br>

target 변수에 종속변수인 'Body Mass (g)'를 저장하고,

feature 변수에 불필요한 변수 'id'와 종속변수 'Body Mass (g)'를 제거한 데이터를 저장해줍니다.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

target = labeled_train['Body Mass (g)']
print(target.shape)

# 학습에 불필요한 변수 제거
feature = labeled_train.drop(['id', 'Body Mass (g)'], axis=1)
print(feature.shape)

(111,)
(111, 9)

<br>

LinearRegression와 5개의 폴드 세트로 분리하는 KFold 객체를 생성해줍니다.

In [ ]:
lr = LinearRegression()

# 폴드 개수 할당
kfold = KFold(n_splits=5)

- **LinearRegression()**

  LinearRegression 클래스를 이용하면 선형 회귀 모델을 만들 수 있습니다.

- **KFold(n_splits=5)**

  KFold 함수를 이용해 폴드 개수를 할당해줄 수 있습니다. 

  일반적으로 5, 10 등의 값을 사용합니다.

<br>

각 폴드마다 다른 x_train과 y_train을 이용해 모델을 학습하고, x_test를 예측해 예측값을 y_test와 비교하여 RMSE를 구해보도록 하겠습니다.

In [ ]:
cv_rmse = []
n_iter = 0

for train_index, test_index, in kfold.split(feature):

    x_train, x_test = feature.iloc[train_index], feature.iloc[test_index]
    y_train, y_test = target.iloc[train_index], target.iloc[test_index]

    # 모델 학습
    lr = lr.fit(x_train, y_train)

    # 테스트셋 예측
    pred = lr.predict(x_test)

    # 반복 횟수 1회 증가
    n_iter += 1

    error = RMSE(y_test, pred)
    train_size = x_train.shape[0]
    test_size = x_test.shape[0]

    print('\n{0}번째 교차 검증 RMSE : {1}, 학습 데이터 크기 : {2}, 검증 데이터 크기 : {3}'.format(n_iter, error, train_size, test_size))
    print('{0}번째 검증 세트 인덱스 : {1}'.format(n_iter, test_index))
    cv_rmse.append(error)

print('\n==> 이 방정식의 평균 RMSE는 {}입니다.'.format(np.mean(cv_rmse)))

1번째 교차 검증 RMSE : 239.82928886634735, 학습 데이터 크기 : 88, 검증 데이터 크기 : 23
1번째 검증 세트 인덱스 : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]

2번째 교차 검증 RMSE : 429.61020936880345, 학습 데이터 크기 : 89, 검증 데이터 크기 : 22
2번째 검증 세트 인덱스 : [23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]

3번째 교차 검증 RMSE : 399.4780502908268, 학습 데이터 크기 : 89, 검증 데이터 크기 : 22
3번째 검증 세트 인덱스 : [45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66]

4번째 교차 검증 RMSE : 257.3075886771985, 학습 데이터 크기 : 89, 검증 데이터 크기 : 22
4번째 검증 세트 인덱스 : [67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88]

5번째 교차 검증 RMSE : 355.9484843947441, 학습 데이터 크기 : 89, 검증 데이터 크기 : 22
5번째 검증 세트 인덱스 : [ 89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106
 107 108 109 110]

==> 이 방정식의 평균 RMSE는 336.434724319584입니다.

- **kfold.split(feature)**

  split() 함수를 호출해 전체 펭귄 데이터를 5개의 폴드 데이터 세트로 분리합니다.

- **lr.fit(x_train, y_train)**

  LinearRegression 클래스의 fit 메소드를 사용해 훈련시킵니다.

- **RMSE(y_test, pred)**

  예측값(pred)과 실제값(y_test)의 차이를 기반으로 하는 RMSE를 구합니다.

<br>

교차 검증을 더 편리하게 수행할 수 있게 해주는 API인 cross_val_score()를 이용해 교차 검증으로 MSE와 RMSE를 추정해보겠습니다.

In [ ]:
# cross_val_score()로 구현하기
from sklearn.model_selection import cross_val_score

neg_mse_scores = cross_val_score(lr, feature, target, scoring="neg_mean_squared_error", cv=5)
rmse_scores = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print(' 5 folds 의 개별 Negative MSE scores : ', np.round(neg_mse_scores))
print(' 5 folds 의 개별 RMSE scores : ', np.round(rmse_scores))
print(' 5 folds 의 평균 RMSE : ', np.round(avg_rmse, 3))

 5 folds 의 개별 Negative MSE scores :  [ -57518. -184565. -159583.  -66207. -126699.]
 5 folds 의 개별 RMSE scores :  [240. 430. 399. 257. 356.]
 5 folds 의 평균 RMSE :  336.435

- **cross_val_score(lr, feature, target, scoring="neg_mean_squared_error", cv=5)**

  scoring은 예측 성능 평가 지표입니다. "neg_mean_squared_error"는 MSE에 음수를 취한 값입니다.

  cv는 교차 검증 폴드 수를 결정합니다.

- **np.sqrt(-1 * neg_mse_scores)**

  RMSE를 구하기 위해서 음수 값인 neg_mse_scores에 -1을 곱해주고 제곱근을 취해줍니다.

<br>

#### **[ 예측하기 ]**

예측을 진행 할 test.csv 데이터를 불러옵니다.

In [ ]:
# 데이터 불러오기
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/데이썬/test.csv')

# 데이터 확인
test.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
1,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
2,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
3,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
4,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837

<br>

test.csv에도 train.csv와 동일한 전처리 과정을 진행해줍니다.

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   228 non-null    int64
 1   Species              228 non-null    object
 2   Island               228 non-null    object
 3   Clutch Completion    228 non-null    object
 4   Culmen Length (mm)   228 non-null    float64
 5   Culmen Depth (mm)    228 non-null    float64
 6   Flipper Length (mm)  228 non-null    float64
 7   Sex                  222 non-null    object
 8   Delta 15 N (o/oo)    219 non-null    float64
 9   Delta 13 C (o/oo)    220 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 17.9+ KB

Sex, Delta 15 N (o/oo), Delta 13 C (o/oo) 컬럼에 결측값이 존재합니다.

<br>

train.csv는 Sex 컬럼의 결측치가 존재하는 행을 삭제했지만 test.csv의 행은 삭제하면 안되므로, 

train.csv의 분포에서 개수가 더 큰 "MALE" 값을 임의로 부여합니다.

In [ ]:
train[['Sex']].value_counts()

Sex
MALE      56
FEMALE    55
dtype: int64

In [ ]:
test['Sex'] = test['Sex'].fillna("MALE")

<br>

train.csv와 마찬가지로 수치형 변수의 결측값에는 0값을 채워줍니다.

In [ ]:
test_preprocessed = test.fillna(0)
test_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   228 non-null    int64
 1   Species              228 non-null    object
 2   Island               228 non-null    object
 3   Clutch Completion    228 non-null    object
 4   Culmen Length (mm)   228 non-null    float64
 5   Culmen Depth (mm)    228 non-null    float64
 6   Flipper Length (mm)  228 non-null    float64
 7   Sex                  228 non-null    object
 8   Delta 15 N (o/oo)    228 non-null    float64
 9   Delta 13 C (o/oo)    228 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 17.9+ KB

결측치가 존재하지 않습니다.

<br>

test.csv에도 레이블 인코딩을 동일하게 진행해줍니다.

In [ ]:
labeled_test = label_encoder(test_preprocessed, label_map)
labeled_test.head()

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,2,2,1,52.0,20.7,210.0,1,9.43146,-24.68440
1,1,1,1,1,55.9,17.0,228.0,1,8.31180,-26.35425
2,2,3,2,1,38.9,18.8,190.0,2,8.36936,-26.11199
3,3,2,2,1,45.2,16.6,191.0,2,9.62357,-24.78984
4,4,3,1,2,37.9,18.6,172.0,2,8.38404,-25.19837

<br>

train.csv와 마찬가지로 id 컬럼을 제거해줍니다.

In [ ]:
labeled_test = labeled_test.drop(['id'], axis=1)
labeled_test.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,2,2,1,52.0,20.7,210.0,1,9.43146,-24.68440
1,1,1,1,55.9,17.0,228.0,1,8.31180,-26.35425
2,3,2,1,38.9,18.8,190.0,2,8.36936,-26.11199
3,2,2,1,45.2,16.6,191.0,2,9.62357,-24.78984
4,3,1,2,37.9,18.6,172.0,2,8.38404,-25.19837

In [ ]:
labeled_test.shape

(228, 9)

<br>

전처리가 모두 완료된 labeled_test 데이터로 예측해줍니다.

In [ ]:
predict_test = lr.predict(labeled_test)
predict_test

array([4388.63197662, 5475.79462367, 3519.95427357, 3529.65881047,
       3168.73489075, 4151.7061863 , 4709.47535294, 5332.62117815,
       4808.73679767, 3822.14135129, 4270.31825273, 4649.76331742,
       4827.78929771, 4728.50250703, 5128.98829118, 5315.05184702,
       4119.37742331, 3999.53380314, 3439.79568154, 3408.58713604,
       4232.6747602 , 5612.97113395, 5391.97579793, 4178.70875307,
       3478.3635657 , 4684.17410447, 3497.78855565, 4728.33315314,
       4179.98022798, 4713.97816505, 3438.14216593, 4848.47761732,
       3530.23626165, 4928.63967993, 4046.63351267, 2938.83472508,
       4466.55808909, 3605.05177154, 4088.98330906, 4621.29786807,
       4055.93774865, 3741.62151475, 3968.15019808, 5442.4448009 ,
       3529.36395883, 4677.36406967, 3896.03471005, 4260.49604344,
       4752.9329019 , 5513.83299256, 3873.84818969, 4061.94921775,
       3377.69641901, 4315.55213757, 4012.07999574, 3892.93294032,
       4715.71906283, 4129.07109732, 4805.87002646, 3794.37340165,
       4116.19725358, 3688.94850505, 4045.35843322, 5583.51643207,
       3265.22060941, 4043.14566504, 4238.19938227, 4832.13509024,
       3917.53962362, 4067.09550118, 4895.02101285, 3230.36767129,
       3326.67641401, 3677.57172872, 5430.75250953, 5848.15626633,
       3447.10692637, 4051.63286654, 5521.85918714, 4944.69187506,
       3944.32437847, 4634.58106408, 4093.68448415, 4852.60046328,
       5452.42027995, 4035.12623269, 5411.85000778, 3979.6581961 ,
       3616.8351103 , 5282.70417148, 4614.45691406, 3373.00722238,
       3616.17171648, 3623.61336673, 3306.9071925 , 3536.81131309,
       3544.44761714, 3123.60489258, 5395.7669883 , 4197.08293889,
       3150.05881858, 3494.66000311, 3393.40450613, 5457.36214292,
       5557.02198069, 3490.98160428, 6274.66115985, 5346.1580162 ,
       4291.36306755, 3523.06804277, 4612.63763053, 3378.17561004,
       4329.32461411, 3912.50702266, 5461.07911799, 4056.895804  ,
       3588.3727982 , 3658.44405405, 3753.76422494, 3785.22531795,
       4000.27588269, 5186.39542008, 3555.46738395, 4337.04443239,
       4219.36664134, 4045.11097024, 5330.36448305, 4220.7624881 ,
       3542.97602483, 3715.95484375, 3869.11300749, 4112.13525839,
       5330.61024857, 5388.26701942, 5277.93593345, 3905.65866867,
       3548.57847486, 3350.97811168, 4857.7036002 , 3417.53926873,
       3950.00465473, 4692.92923932, 3610.41470645, 3255.25521644,
       4406.3978938 , 3561.76183584, 4613.30758446, 3632.03824942,
       5422.02748313, 4162.47614856, 5434.58332354, 3340.18218746,
       5418.89389083, 5439.82821466, 4104.51064728, 5627.41652601,
       3519.52478245, 4243.54789002, 3613.22869248, 4024.19018864,
       3900.65962192, 3583.20135148, 3251.30616759, 3047.87612151,
       5347.61844126, 3531.04008311, 5445.94739347, 4654.30671771,
       3828.61296113, 3793.44928746, 5586.77675251, 3506.89841598,
       5438.77114748, 3452.55636066, 3224.35176442, 5019.31499239,
       4375.40549213, 4702.14460676, 5343.43773976, 3285.41074987,
       4004.45020642, 4253.14024875, 4012.75479764, 4519.64137695,
       4586.61357172, 4388.97622781, 4729.77620594, 5359.09484237,
       3351.76942037, 3274.02156726, 3980.83658571, 3724.07450095,
       3927.79187296, 4071.56819708, 5001.37197571, 5383.34498455,
       4061.59453088, 5404.01092564, 3635.96292899, 3564.9844273 ,
       3833.64082657, 4729.75691171, 4560.29559014, 4728.0782772 ,
       4170.11764203, 4601.27095843, 3608.48321741, 4218.59002218,
       4722.98790975, 5446.25838055, 3561.42088544, 3285.73692507,
       3056.93063917, 3524.09976622, 3666.35208802, 4664.63494692,
       5513.57095511, 3714.55451819, 4313.8359406 , 3960.39655693,
       3466.70411783, 3590.98893126, 4767.58139573, 4195.96498666,
       4770.41871407, 4709.34982662, 4158.40199399, 4192.24409351])

<br>

이렇게 선형 회귀 기법으로 펭귄의 몸무게를 예측해봤습니다.

평균 RMSE 값이 336.435로 매우 높게 나와 좋은 모델이라고 할 수는 없지만, 앞으로 배우게 될 내용을 적용한다면 더 좋은 모델로 수정할 수 있을 것입니다!

<br><br>

## **2. 규제 선형 모델**

이전까지는 선형 모델은 실제값과 예측값의 차이를 최소화하는 것만 고려했습니다. 그러다 보니 학습 데이터에 지나치게 맞춰지게 되고, 회귀 계수가 쉽게 커져 예측 성능이 쉽게 저하되는 문제가 발생합니다. 

<br>

이러한 문제를 해결하기 위해, 비용 함수에 alpha 값으로 페널티를 부여해 회귀 계수 값의 크기를 감소시켜 과적합을 개선하는 방식을 **규제(Regularization)**라고 합니다.

<br>

규제는 크게 L2방식과 L1방식으로 구분됩니다. 

L2 규제를 적용한 회귀를 **릿지(Ridge)** 회귀, <br>
L1 규제를 적용한 회귀를 **라쏘(Lasso)** 회귀, <br>
L2 규제와 L1 규제를 결합한 회귀를 **엘라스틱넷(Elastic net)** 회귀라고 합니다.

<br>

### **1) 릿지 회귀 (Ridge)**

W의 제곱에 대해 페널티를 부여하는 L2 규제를 선형 회귀에 적용한 것이 **릿지(Ridge)** 회귀입니다.

사이킷런은 **Ridge** 클래스를 통해 릿지 회귀를 구현하고, Ridge 클래스의 주요 생성 파라미터 alpha는 릿지 회귀의 alpha L2 규제 계수에 해당합니다. 

alpha 값을 증가시키면 회귀 계수가 0에 가까워집니다.

<br>

펭귄 몸무게 예측 예제를 Ridge 클래스를 이용해 다시 예측해보고, 예측 성능을 cross_val_score()로 평가해보겠습니다.

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

# alpha=10
ridge = Ridge(alpha=10)
neg_mse_scores = cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv=5)
rmse_scores = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

In [ ]:
print(' 5 folds 의 개별 Negative MSE scores: ', np.round(neg_mse_scores, 3))
print(' 5 folds 의 개별 RMSE scores : ', np.round(rmse_scores, 3))
print(' 5 folds 의 평균 RMSE : {0:.3f} '.format(avg_rmse))

 5 folds 의 개별 Negative MSE scores:  [ -79001.629 -122951.296 -200218.     -63408.547 -148638.895]
 5 folds 의 개별 RMSE scores :  [281.072 350.644 447.457 251.811 385.537]
 5 folds 의 평균 RMSE : 343.304

- **Ridge(alpha=10)**

  Ridge 클래스의 alpha 값을 10으로 지정해 릿지 회귀를 구현합니다.

- **cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv=5)**

  scoring은 예측 성능 평가 지표입니다. "neg_mean_squared_error"는 MSE에 음수를 취한 값입니다.

  cv는 교차 검증 폴드 수를 결정합니다.

- **np.sqrt(-1 * neg_mse_scores)**

  RMSE를 구하기 위해서 음수 값인 neg_mse_scores에 -1을 곱해주고 제곱근을 취해줍니다.

<br>


alpha 값의 변화에 따른 RMSE와 릿지 회귀 계수 값의 변화를 살펴보겠습니다.

In [ ]:
# alpha 값의 변화에 따른 평균 RMSE의 변화

ridge_alphas = [0, 0.1, 1, 10, 100]

print('####### Ridge #######\n')

for alpha in ridge_alphas :
    ridge = Ridge(alpha = alpha)

    neg_mse_scores = cross_val_score(ridge, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} 일 때 5 folds 의 평균 RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### Ridge #######

alpha 0 일 때 5 folds 의 평균 RMSE : 336.435
alpha 0.1 일 때 5 folds 의 평균 RMSE : 336.058
alpha 1 일 때 5 folds 의 평균 RMSE : 334.030
alpha 10 일 때 5 folds 의 평균 RMSE : 343.304
alpha 100 일 때 5 folds 의 평균 RMSE : 380.382

<br>

In [ ]:
# alpha 값의 변화에 따른 회귀 계수의 변화

coeff_df = pd.DataFrame()

for pos, alpha in enumerate(ridge_alphas) :
    ridge = Ridge(alpha = alpha)
    ridge.fit(feature, target)
 
    coeff = pd.Series(data=ridge.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

ridge_alphas = [0,  0.1, 1, 10, 100]
sort_column = 'alpha:'+str(ridge_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

                        alpha:0   alpha:0.1     alpha:1    alpha:10  alpha:100
Flipper Length (mm)   21.623332   21.855423   23.741002   33.552173  45.765131
Culmen Length (mm)    -2.214608   -2.004133   -0.449875    2.960192  -2.087745
Culmen Depth (mm)     -3.400970   -3.416346   -3.318055    2.058305   8.750774
Clutch Completion    -47.282738  -46.476422  -40.371939  -19.239780  -4.136799
Delta 13 C (o/oo)    -50.412840  -50.191168  -48.211800  -31.951518   5.234197
Island              -153.072266 -152.899564 -150.692937 -116.225366 -29.276721
Species             -207.312277 -203.091492 -170.627486  -53.533299  -1.186027
Delta 15 N (o/oo)   -223.680146 -223.057735 -217.443598 -169.586261 -54.187006
Sex                 -553.031504 -548.377626 -510.443787 -313.307189 -71.173689

- **enumerate(ridge_alphas)**

  인덱스와 원소를 동시에 리턴합니다.

- **coeff_df.sort_values(by=sort_column, ascending=False)**

  alpha:0 컬럼의 값을 기준으로 내림차순 정렬했습니다.

<br>

alpha 값이 0, 0.1, 1, 10, 100으로 변화함에 따라 평균 RMSE의 값과 회귀 계수가 어떻게 변화하는지 살펴보았습니다.

alpha가 1일 때 334.030으로 가장 좋은 평균 RMSE를 보여주며,
규제가 없는 LinearRegression의 평균 RMSE인 336.435보다 더 뛰어난 예측 성능을 보여줍니다.

alpha 값을 계속 증가시킬수록 회귀 계수 값은 0에 가까워짐을 확인할 수 있습니다.

하지만 릿지 회귀의 경우, 회귀 계수를 0으로 만들지는 않습니다.

<br>

### **2) 라쏘 회귀 (Lasso)**

W의 절댓값에 페널티를 부여하는 L1 규제를 선형 회귀에 적용한 것이 **라쏘(Lasso)** 회귀입니다.

L1 규제는 불필요한 회귀 계수를 급격하게 감소시켜 0으로 만들고 제거합니다. 이러한 점에서 L1 규제는 적절한 피처만 회귀에 포함시키는 피처 선택의 특성을 가지고 있습니다. 

사이킷런은 **Lasso** 클래스를 통해 라쏘 회귀를 구현했습니다. Lasso 클래스의 주요 생성 파라미터 alpha는 라쏘 회귀의 alpha L1 규제 계수에 해당합니다.

<br>

펭귄 몸무게 예측 예제를 Lasso 클래스를 이용해 다시 예측해보고, 
alpha 값의 변화에 따른 RMSE와 라쏘 회귀 계수 값의 변화를 살펴보겠습니다.

In [ ]:
# alpha 값의 변화에 따른 평균 RMSE의 변화

from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score

print('####### Lasso #######\n')

lasso_alphas = [0.07, 0.1, 0.5, 1, 3]

for alpha in lasso_alphas :
    lasso = Lasso(alpha = alpha)

    neg_mse_scores = cross_val_score(lasso, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} 일 때 5 folds 의 평균 RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### Lasso #######

alpha 0.07 일 때 5 folds 의 평균 RMSE : 336.335
alpha 0.1 일 때 5 folds 의 평균 RMSE : 336.292
alpha 0.5 일 때 5 folds 의 평균 RMSE : 335.737
alpha 1 일 때 5 folds 의 평균 RMSE : 335.092
alpha 3 일 때 5 folds 의 평균 RMSE : 332.923

<br>

In [ ]:
# alpha 값의 변화에 따른 회귀 계수의 변화

coeff_df = pd.DataFrame()
lasso_alphas = [0.07, 0.1, 0.5, 1, 3]

for pos, alpha in enumerate(lasso_alphas) :
    lasso = Lasso(alpha = alpha)
    lasso.fit(feature, target)
 
    coeff = pd.Series(data=lasso.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

sort_column = 'alpha:'+str(lasso_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

,alpha:0.07,alpha:0.1,alpha:0.5,alpha:1,alpha:3
Flipper Length (mm),21.687330,21.714773,22.080431,22.536345,24.351787
Culmen Length (mm),-2.178699,-2.163249,-1.954906,-1.690305,-0.610893
Culmen Depth (mm),-3.513451,-3.561635,-4.203873,-5.005738,-8.205612
Clutch Completion,-46.433493,-46.069377,-41.211136,-35.134500,-10.815259
Delta 13 C (o/oo),-50.325479,-50.288148,-49.794829,-49.186711,-46.799919
Island,-152.872766,-152.787265,-151.649399,-150.233161,-144.606550
Species,-206.176254,-205.688735,-199.174336,-191.017523,-158.358386
Delta 15 N (o/oo),-223.403225,-223.284866,-221.719717,-219.788274,-212.196283
Sex,-552.183289,-551.819425,-546.962061,-540.885352,-516.569571

<br>

alpha 값이 0.07, 0.1, 0.5, 1, 3으로 변화함에 따라 평균 RMSE의 값과 회귀 계수가 어떻게 변화하는지 살펴보았습니다.

alpha가 3일 때 332.923으로 가장 좋은 평균 RMSE를 보여주며,
앞의 릿지 회귀의 평균 RMSE 334.030보다 더 좋은 수치입니다.

현재 출력값에는 잘 나타나지 않았지만, 라쏘 회귀의 특성상 불필요한 회귀 계수를 0으로 만들기 때문에 회귀 계수가 0인 경우가 종종 나타납니다.

<br>

### **3) 엘라스틱넷 회귀 (Elastic Net)**

**엘라스틱넷(Elastic Net)** 회귀는 L2 규제와 L1 규제를 결합한 회귀입니다.

라쏘 회귀는 서로 상관관계가 높은 피처들의 경우 중요 피처만을 선택하고 다른 피처들의 회귀 계수는 모두 0으로 만드는 성향이 강합니다. 하지만 이러한 성향으로 alpha 값에 따라 회귀 계수의 값이 급격히 변동할 수도 있는데, 이를 완화하기 위해 L2 규제가 추가되었습니다.

하지만 엘라스틱넷의 규제는 L1 규제와 L2 규제가 결합된 규제이기 때문에 수행시간이 상대적으로 오래 걸린다는 단점이 있습니다.

<br>


사이킷런은 **ElasticNet** 클래스를 통해서 엘라스틱넷 회귀를 구현합니다. 

ElasticNet 클래스의 주요 생성 파라미터는 *alpha*와 *l1_ratio*입니다. 이때 alpha 값은 Ridge와 Lasso 클래스의 alpha 값과는 다릅니다. 

<br>

엘라스틱넷의 규제는 **a * L1 + b * L2** 로 정의됩니다. 

따라서,ㅤㅤ**alphaㅤㅤ--->ㅤㅤa+b**

ㅤㅤㅤㅤㅤ **l1_ratioㅤㅤ--->ㅤㅤa/(a+b)**

<br>

펭귄 몸무게 예측 예제를 ElasticNet 클래스를 이용해 다시 예측해보고, 
alpha 값의 변화에 따른 RMSE와 엘라스틱넷 회귀 계수 값의 변화를 살펴보겠습니다.

In [ ]:
# alpha 값의 변화에 따른 평균 RMSE의 변화

from sklearn.linear_model import ElasticNet
from sklearn.model_selection import cross_val_score

print('####### ElasticNet #######')

elastic_alphas = [0.07, 0.1, 0.5, 1, 3]

for alpha in elastic_alphas :
    elastic = ElasticNet(alpha = alpha, l1_ratio=0.7)

    neg_mse_scores = cross_val_score(elastic, feature, target, scoring="neg_mean_squared_error", cv = 5)
    avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
    print('alpha {0} 일 때 5 folds 의 평균 RMSE : {1:.3f} '.format(alpha, avg_rmse))

####### ElasticNet #######
alpha 0.07 일 때 5 folds 의 평균 RMSE : 333.500
alpha 0.1 일 때 5 folds 의 평균 RMSE : 333.745
alpha 0.5 일 때 5 folds 의 평균 RMSE : 347.653
alpha 1 일 때 5 folds 의 평균 RMSE : 360.314
alpha 3 일 때 5 folds 의 평균 RMSE : 377.953

<br>

In [ ]:
# alpha 값의 변화에 따른 회귀 계수의 변화

coeff_df = pd.DataFrame()
elastic_alphas = [0.07, 0.1, 0.5, 1, 3]

for pos, alpha in enumerate(elastic_alphas) :
    elastic = ElasticNet(alpha = alpha, l1_ratio=0.7)
    elastic.fit(feature, target)
 
    coeff = pd.Series(data=elastic.coef_, index=feature.columns)
    colname = 'alpha:'+str(alpha)
    coeff_df[colname] = coeff

sort_column = 'alpha:'+str(elastic_alphas[0])
coeff_df.sort_values(by=sort_column, ascending=False)

                     alpha:0.07   alpha:0.1   alpha:0.5     alpha:1    alpha:3
Flipper Length (mm)   26.052334   27.482199   37.066032   41.441446  45.783000
Culmen Length (mm)     1.044152    1.755844    2.363217    0.554862  -1.894230
Culmen Depth (mm)     -2.756022   -2.146737    4.178746    7.050860   7.702714
Clutch Completion    -33.551503  -29.959142  -13.175329   -7.773628  -1.976309
Delta 13 C (o/oo)    -45.304774  -43.239431  -23.329811  -10.569721   5.332503
Species             -135.353554 -115.964894  -29.161845   -9.683061  -0.000000
Island              -145.936787 -141.931955  -95.463804  -65.219660 -27.261758
Delta 15 N (o/oo)   -209.048507 -203.024726 -143.675999 -104.850515 -53.129758
Sex                 -464.076666 -435.294167 -246.039561 -162.077506 -69.468636

<Br>

alpha 값이 0.07, 0.1, 0.5, 1, 3으로 변화함에 따라 평균 RMSE의 값과 회귀 계수가 어떻게 변화하는지 살펴보았습니다.

alpha가 0.07일 때 334.074로 가장 좋은 평균 RMSE를 보여줍니다.

릿지 회귀와 라쏘 회귀의 평균 RMSE 값보다는 약간 떨어지는 수치지만, LinearRegression의 평균 RMSE인 336.434보다는 향상되었습니다.

이렇게 규제 선형 회귀의 가장 대표적인 기법인 릿지, 라쏘, 엘라스틱넷 회귀를 살펴보았습니다. 

이들 중 어떤 것이 가장 좋은지는 상황에 따라 다르기 때문에 각각의 알고리즘에서 하이퍼 파라미터를 변경해 가면서 최적의 예측 성능을 찾아내야 합니다.

<br>

---

<br>

이렇게 선형 회귀(Linear Regression) 방법으로 타겟값을 예측하는 방법에 대해 공부해봤습니다!
<br><br>
여러 가지 회귀 중에서 선형 회귀가 가장 많이 사용되기 때문에, 

많은 연습을 통해 선형 회귀에 익숙해진다면 머신러닝 지도학습을 할 때 많은 도움이 될 거예요! 😄
<br><br>
📣 다음은 결정 트리(Decision Tree)를 다루는 **모델링 사용 설명서 2탄**이 업로드될 예정입니다!
<br><br>
많은 관심과 애정 부탁드려요💛 감사합니다!