# Lambda 함수 : 익명의 함수(p. 410)
- 매크로 함수 : 한줄짜리 함수
- 인라인 함수
- 형식 : lambda 입력값 : 출력값
- 일반함수 형식 : def 함수명(매개변수): return 반환값

In [1]:
# 하나의 숫자를 입력받아 그 숫자에 10을 더한 값을 리턴하는 함수 구현
def get(num):
    return num + 10

In [2]:
a = get(3)
print(a)

13

In [6]:
(lambda num : num + 10)(3)

13

In [7]:
def get(num):
    result = num + 10
    return result

In [8]:
get(3)

13

- 람다 표현식은 변수를 생성할 수 없다.

## lambda  함수와 map 객체

- map(함수, 리스트나 튜플)

In [9]:
a = int(input("숫자 = "))
b = int(input("숫자 = "))
c = int(input("숫자 = "))

숫자 = 1
숫자 = 2
숫자 = 3

In [10]:
a, b, c = map(int, input('숫자 = ').split())
print(a, b, c)

숫자 = 1 2 3
1 2 3

In [11]:
# 숫자 리스트에 있는 모든 요소에 2씩 더하여 새로운 리스트를 생성하는 작업
def plus_two(x):
    return x + 2

result = list(map(plus_two, [1, 2, 3, 4, 5]))
print(result)

[3, 4, 5, 6, 7]

In [12]:
result = list(map((lambda x : x + 2), [1, 2, 3, 4, 5]))
print(result)

[3, 4, 5, 6, 7]

In [13]:
result = list(map((lambda x : x + 2), range(1, 6)))
print(result)

[3, 4, 5, 6, 7]

## lambda 함수와 filter 객체

- filter(함수, 리스트나 튜플)

In [14]:
# 1 ~ 10 사이의 수중 짝수만 추출하는 함수
def even(x):
    return x % 2 == 0

for i in range(1, 11):
    print(even(i))

False
True
False
True
False
True
False
True
False
True

In [15]:
result = list(filter(even, range(1, 11)))
print(result)

[2, 4, 6, 8, 10]

In [16]:
result = list(filter((lambda x : x % 2 == 0), range(1, 11)))
print(result)

[2, 4, 6, 8, 10]

# List Comprehension : 리스트 내포
- for문 if문을 한 줄에 작성하여 새로운 리스트를 생성하는 작업을 효율적으로 수행할 수 있는 기능
- 간결하고 처리속도가 빠르다.
- 기본형식 => 리스트명 = [표현식 for 개별변수 in 집합변수]
- 조건식을 포함 => 리스트명 = [표현식 for 개별변수 in 집합변수 if 조건문]
- 조건식 확장 => 리스트명 = [표현식 if 조건문 else 조건문 for문]

In [17]:
# 1부터 9까지의 숫자에 3을 곱한 값들을 리스트로 생성하여 출력하는 프로그램
result = []
for i in range(1, 10):
    result.append(i*3)
    
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [18]:
res = [i*3 for i in range(1, 10)]
print(res)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

## 다중 for문

In [21]:
result = []
for i in range(3):
    for j in range(5):
        result.append(i+j)
        
print(result)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [24]:
result = [i+j for i in range(3) for j in range(5)]
print(result)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [25]:
for i in range(3):
    for j in range(5):
        print(i+j, end="")
    print()

01234
12345
23456

In [26]:
result = [[i+j for i in range(3)] for j in range(5)]
print(result)

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]

## 조건식

In [28]:
# 2부터 9까지의 구구단을 출력하는 프로그램
# 결과를 리스트로 담아서 출력하는 프로그램
result = []

for x in range(2, 10):
    for y in range(1, 10):
        result.append(x * y)
        
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [29]:
# 리스트 내포 표현식
result = [x*y for x in range(2, 10) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [30]:
# 짝수의 결과만 추출하는 작업
result = []

for x in range(2, 10):
    if x % 2 == 0:
        for y in range(1, 10):
            result.append(x * y)
        
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 4, 8, 12, 16, 20, 24, 28, 32, 36, 6, 12, 18, 24, 30, 36, 42, 48, 54, 8, 16, 24, 32, 40, 48, 56, 64, 72]

In [31]:
result = [x * y for x in range(2, 10) if x % 2 == 0 for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 4, 8, 12, 16, 20, 24, 28, 32, 36, 6, 12, 18, 24, 30, 36, 42, 48, 54, 8, 16, 24, 32, 40, 48, 56, 64, 72]

## if ~ else
- 1부터 10사이의 수를 대상으로 짝수일경우 제곱, 홀수일경우 세곱한 결과를 리스트로 추출

In [32]:
result = []
for i in range(1, 11):
    if i % 2 == 0:
        result.append(i**2)
    else:
        result.append(i**3)
        
print(result)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [33]:
result = [i**2 if i % 2 == 0 else i**3 for i in range(1, 11)]
print(result)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]